.disabledVesselWrapper {
    position: relative;
    .disabledVessel {
        border-radius: .1875rem;
        user-select: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        background-image: url(../../../images/icons/shipwreck.svg);
        background-repeat: no-repeat;
        background-size: 300px;
        background-position-y: 100px;
        background-position-x: 50%;
        h1 {
            color: #eee;
            font-size: 6vw;
            position: absolute;
            width: 100%;
            height: 100px;
            top: 450px;
            text-align: center;
        }
    }
}
