{% load static %}
{% include 'includes/control/htmx_control.html' %}
<li class="nav-item" role="presentation" id="navTag-{{elementTag}}-{{elementTagId}}" style="display:none;">
    <a class="nav-link mainNavLinkSub-{{elementTag}} position-relative border border-1 rounded-0 border-secondary-subtle text-truncate" id="navTagLink-{{elementTag}}-{{elementTagId}}" data-mdb-pill-init data-mdb-toggle="tab" href="#tabPane-{{elementTag}}-{{elementTagId}}" role="tab" aria-controls="tabPane-{{elementTag}}-{{elementTagId}}" aria-selected="true" style="font-size:9px;padding:10px 25px 10px 25px;margin: 0px!important;"> 
        {{commericalInvoice.customer.name}}
        <button class="btn btn-tertiary position-absolute top-20 translate-middle badge p-1" href="#" id="removeNav-{{elementTag}}-{{elementTagId}}" style="margin-left: 5%;">
          <i class="fa-solid fa-xmark" style="font-size:0.75rem;"></i>
        </button>
        <!-- <div style="display: flex;justify-content: end;">
          <button class="btn btn-tertiary closeTabButton" href="#" id="removeNav-{{elementTag}}-{{elementTagId}}">
            <i class="fa-solid fa-xmark" style="font-size:0.75rem;"></i>
          </button>
        </div> -->
    </a>
</li>

<div class="tab-pane mainTabPaneSub-{{elementTag}} fade" id="tabPane-{{elementTag}}-{{elementTagId}}" role="tabpanel" aria-labelledby="navTagLink-{{elementTag}}-{{elementTagId}}">
  <form method="post" hx-post="/account/commerical_invoice_update/{{commericalInvoice.id}}/" class="modal-content form-container border border mainAddForm" id="form-{{elementTag}}-{{elementTagId}}" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.media }}
      <div class="modal-header border-2 border-bottom" style="box-shadow:none!important;background-color: #c9c9c9;">
          <button class="tableTopButtons inTableButtons" type="submit" name="saveButton">
            <img src="/static/images/icons/flaticon/{{user.profile.theme}}/diskette.svg" alt="" style="height: 18px;">
          </button>
          <button class="tableTopButtons inTableButtons" id="remove-{{elementTag}}-{{elementTagId}}" type="button">
            <img src="/static/images/icons/flaticon/{{user.profile.theme}}/trash_bin.svg" alt="" style="height: 18px;">
          </button>
          <button class="tableTopButtons inTableButtons" type="button" hx-get="/account/commerical_invoice_pdf/{{elementTagId}}/" hx-target="#tabContSub-{{elementTag}}" hx-swap="afterbegin" hx-push-url="true">
            <img src="/static/images/icons/datatable/printer.svg" alt="" style="height: 18px;">
          </button>
        <!-- <button class="tableTopButtons inTableButtons" type="submit" name="saveButton"><i class="fa-solid fa-floppy-disk" data-mdb-toggle="tooltip" data-mdb-placement="right" title="Save"></i></button>
        <a class="tableTopButtons inTableButtons" href="#"><i class="fa-solid fa-trash" data-mdb-toggle="tooltip" data-mdb-placement="right" title="Remove"></i></a>
        <a class="tableTopButtons inTableButtons" c><i class="fa-solid fa-print" data-mdb-toggle="tooltip" data-mdb-placement="right" title="Print"></i></a> -->   
        <div class="me-auto" id="message-container-{{elementTag}}-{{elementTagId}}"></div>
        
      </div>

      <div class="modal-body p-2" style="box-shadow:none; padding:0;">

                <div class="row mb-3">
                    <div class="col-md-5">
                        <div class="row">
                            <div class="col-md-12 mb-2">
                                <div class="form-outline">
                                    <input type="text" id="textFormOutline" class="form-control form-control-sm" value="{{commericalInvoice.customer}}" readonly>
                                    <label for="textFormOutline" class="form-label">Customer</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-2">
                                <div class="form-outline">
                                    {{form.vessel}}
                                    <label for="textFormOutline" class="form-label select-label">Vessel</label>
                                </div>
                            </div>
                            <div class="col-md-6 mb-2">
                                <div class="form-outline">
                                    {{form.billing}}
                                    <label for="textFormOutline" class="form-label select-label">Billing Name</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 mb-2">
                                <div class="form-outline">
                                    {{form.transport}}
                                    <label for="textFormOutline" class="form-label">Transport</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 mb-2">
                                <div class="form-outline">
                                    {{form.awb}}
                                    <label for="textFormOutline" class="form-label">AWB</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-12 mb-2">
                                <div class="form-outline">
                                    {{form.deliveryNote}}
                                    <label for="textFormOutline" class="form-label">Delivery Note</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-6 mb-2">
                                <div class="form-outline">
                                    <input type="text" id="textFormOutline" class="form-control form-control-sm" value="{{commericalInvoice.orderTracking.purchaseOrders.all.0.orderConfirmation.orderConfirmationNo}}" readonly>
                                    <label for="textFormOutline" class="form-label">Order Confirmation</label>
                                </div>
                            </div>
                            <div class="col-md-6 mb-2">
                                <div class="form-outline">
                                    <input type="text" id="textFormOutline" class="form-control form-control-sm" value="{{commericalInvoice.commericalInvoiceNo}}" readonly>
                                    <label for="textFormOutline" class="form-label">Invoice No</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-2">
                                <div class="form-outline datepicker">
                                    {{form.paymentDate}}
                                    <label for="textFormOutline" class="form-label">Payment Date</label>
                                </div>
                            </div>
                            <div class="col-md-6 mb-2">
                                <div class="form-outline datepicker">
                                    {{form.commericalInvoiceDate}}
                                    <label for="textFormOutline" class="form-label">Invoice Date</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-2">
                                <div class="form-outline datepicker">
                                    {{form.deliveryDate}}
                                    <label for="textFormOutline" class="form-label">Delivery Date</label>
                                </div>
                            </div>
                            <div class="col-md-6 mb-2">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-outline">
                                            {{form.currency}}
                                            <label for="textFormOutline" class="form-label select-label">Currency</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-outline">
                                            {{form.exchangeRate}}
                                            <label for="textFormOutline" class="form-label">Exc. Rate (TRY)</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-2">
                                <div class="form-outline">
                                    <input type="text" id="textFormOutline" class="form-control form-control-sm" value="{{commericalInvoice.orderTracking.purchaseOrders.all.0.orderConfirmation.quotation.manuelDiscount}}" readonly>
                                    <label for="textFormOutline" class="form-label">Discount(%)</label>
                                </div>
                            </div>
                            <div class="col-md-6 mb-2">
                                <div class="form-outline">
                                    {{form.vat}}
                                    <label for="textFormOutline" class="form-label">Vat(%)</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-12 mb-3">
                        <!-- Tab Navs -->
                        <ul class="nav nav-pills mb-1" id="nav-{{elementTag}}-{{elementTagId}}-add" role="tablist">
                            <li class="nav-item" role="presentation" id="navTag-{{elementTag}}-{{elementTagId}}-add-1">
                                <a class="nav-link border border-1 rounded-0 border-secondary-subtle  mainNavLinkSubDetail-{{elementTag}} active m-0" data-mdb-pill-init
                                    data-mdb-pill-init
                                    id="navTagLink-{{elementTag}}-{{elementTagId}}-add-1" data-mdb-toggle="tab"
                                    href="#tabPane-{{elementTag}}-{{elementTagId}}-add-1" role="tab"
                                    aria-controls="tabPane-{{elementTag}}-{{elementTagId}}-add-1" aria-selected="true">
                                    Items
                                </a>
                            </li>
                            <li class="nav-item" role="presentation" id="navTag-{{elementTag}}-{{elementTagId}}-add-2">
                                <a class="nav-link border border-1 rounded-0 border-secondary-subtle  mainNavLinkSubDetail-{{elementTag}} m-0" data-mdb-pill-init
                                    id="navTagLink-{{elementTag}}-{{elementTagId}}-add-2" data-mdb-toggle="tab"
                                    href="#tabPane-{{elementTag}}-{{elementTagId}}-add-2" role="tab"
                                    aria-controls="tabPane-{{elementTag}}-{{elementTagId}}-add-2" aria-selected="true">
                                    Expenses
                                </a>
                            </li>
                        </ul>
                        <!-- Tab Navs -->

                        <!-- Tabs Content -->
                        <div class="tab-content" id="tab-{{elementTag}}-{{elementTagId}}-add">

                            <div class="tab-pane mainTabPaneSubDetail-{{elementTag}} fade show active" id="tabPane-{{elementTag}}-{{elementTagId}}-add-1" role="tabpanel" aria-labelledby="navTagLink-{{elementTag}}-{{elementTagId}}-add-1">

                                <div id="addFormBlock-inform-d-justDetail-{{elementTagSub}}-{{elementTagId}}" hx-target="this" class="row mb-1 addForm-inform-d-justDetail-{{elementTagSub}}-{{elementTagId}}">
                            
                                </div>
                                
                                <div class="row mb-1 tableBox-inform-{{elementTagSub}}-{{elementTagId}}">
                                <table id="table-{{elementTagSub}}-{{elementTagId}}" class="table table-striped table-hover table-bordered dataTable no-footer" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th><input class="form-check-input" type="checkbox" value="" id="select-all-{{elementTagSub}}-{{elementTagId}}" name="parts" style="position:relative;margin-top:.19em;margin-left:0.4em;width:0.875rem;height:0.875rem;border-width:1px;"></th>
                                            <th></th>
                                            <th>ID</th>
                                            <th>Part</th>
                                            <th>Description</th>
                                            <th>Turkish Description</th>
                                            <th>Quantity</th>
                                            <th>Unit</th>
                                            <th>Unit Price</th>
                                            <th>Total Price</th>
                                            <th>Currency</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbody">
                                    
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th><input class="form-check-input" type="checkbox" value="" id="select-all-{{elementTagSub}}-{{elementTagId}}" name="parts" style="position:relative;margin-top:.19em;margin-left:0.4em;width:0.875rem;height:0.875rem;border-width:1px;"></th>
                                            <th></th>
                                            <th>ID</th>
                                            <th>Part</th>
                                            <th>Description</th>
                                            <th>Turkish Description</th>
                                            <th>Quantity</th>
                                            <th>Unit</th>
                                            <th>Unit Price</th>
                                            <th>Total Price</th>
                                            <th>Currency</th>
                                        </tr>
                                    </tfoot>
                                </table>
                                </div>

                            </div>

                            <div class="tab-pane mainTabPaneSubDetail-{{elementTag}} fade" id="tabPane-{{elementTag}}-{{elementTagId}}-add-2" role="tabpanel" aria-labelledby="navTagLink-{{elementTag}}-{{elementTagId}}-add-2">
                        
                                <div id="addFormBlock-inform-d-justDetail-{{elementTagSub}}-{{elementTagId}}-expense" hx-target="this" class="row mb-1 addForm-inform-d-justDetail-{{elementTagSub}}-{{elementTagId}}-expense">
                                
                                </div>
                                <div class="row mb-4 switchConnect">
                                    <div class="col-md-12">
                                    
                                    <div id="addFormBlock-inform-d-justDetail-{{elementTagSub}}-{{elementTagId}}-expense" hx-target="this" class="row mb-1 addForm-inform-d-justDetail-{{elementTagSub}}-{{elementTagId}}-expense">
                            
                                    </div>
                        
                                    <div class="row mb-1 tableBox-inform-{{elementTagSub}}-{{elementTagId}}-expense">
                                        <table id="table-{{elementTagSub}}-{{elementTagId}}-expense" class="table table-striped table-hover table-bordered dataTable no-footer" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th><input class="form-check-input" type="checkbox" value="" id="select-all-{{elementTagSub}}-{{elementTagId}}-expenses" name="expenses" style="position:relative;margin-top:.19em;margin-left:0.4em;width:0.875rem;height:0.875rem;border-width:1px;"></th>
                                                <th></th>
                                                <th>ID</th>
                                                <th>Code</th>
                                                <th>Description</th>
                                                <th>Quantity</th>
                                                <th>Unit</th>
                                                <th>Unit Price</th>
                                                <th>Total Price</th>
                                                <th>Currency</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbody">
                                                
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th><input class="form-check-input" type="checkbox" value="" id="select-all-{{elementTagSub}}-{{elementTagId}}-expense" name="expenses" style="position:relative;margin-top:.19em;margin-left:0.4em;width:0.875rem;height:0.875rem;border-width:1px;"></th>
                                                <th></th>
                                                <th>ID</th>
                                                <th>Code</th>
                                                <th>Description</th>
                                                <th>Quantity</th>
                                                <th>Unit</th>
                                                <th>Unit Price</th>
                                                <th>Total Price</th>
                                                <th>Currency</th>
                                            </tr>
                                        </tfoot>
                                        </table>
                                    </div>
                                    
                                    </div>
                                    
                                </div>
                            </div>

                        </div>
                        <!-- Tabs Content-end -->

                        <div class="row" style="display: flex;justify-content: end;">
                            <div class="col-md-3">
                                <div class="input-group input-group-sm mb-1">
                                    <label class="input-group-text w-50" id="inputGroup-sizing-sm">Total</label>
                                    <input type="text" class="form-control" id="totalTotalPrice-{{elementTagSub}}-{{elementTagId}}" aria-label="Sizing example input" aria-describedby="totalTotalPrice-{{elementTagSub}}-{{elementTagId}}" value="{{commericalInvoice.currency.symbol}} {{partsTotals.totalTotalPrice3}}" readonly/>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="display: flex;justify-content: end;">
                            <div class="col-md-3">
                                <div class="input-group input-group-sm mb-1">
                                    <label class="input-group-text w-50" id="inputGroup-sizing-sm">Discount</label>
                                    <input type="text" class="form-control" id="totalDiscountPrice-{{elementTagSub}}-{{elementTagId}}" aria-label="Sizing example input" aria-describedby="totalDiscountPrice-{{elementTagSub}}-{{elementTagId}}" value="{{commericalInvoice.currency.symbol}} {{partsTotals.totalDiscount}}" readonly/>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="display: flex;justify-content: end;">
                            <div class="col-md-3">
                                <div class="input-group input-group-sm mb-1">
                                    <label class="input-group-text w-50" id="inputGroup-sizing-sm">Vat</label>
                                    <input type="text" class="form-control" id="totalVatPrice-{{elementTagSub}}-{{elementTagId}}" aria-label="Sizing example input" aria-describedby="totalVatPrice-{{elementTagSub}}-{{elementTagId}}" value="{{commericalInvoice.currency.symbol}} {{partsTotals.totalVat}}" readonly/>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="display: flex;justify-content: end;">
                            <div class="col-md-9 mb-3" style="padding-right: inherit;">
                                <div class="input-group input-group-sm">
                                    <label class="input-group-text" id="inputGroup-sizing-sm" >Only</label>
                                    {{form.only}}
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="input-group input-group-sm mb-1">
                                    <label class="input-group-text w-50 fw-bold" id="inputGroup-sizing-sm">Final Total</label>
                                    <input type="text" class="form-control fw-bold" id="totalFinalPrice-{{elementTagSub}}-{{elementTagId}}" aria-label="Sizing example input" aria-describedby="totalFinalPrice-{{elementTagSub}}-{{elementTagId}}" value="{{commericalInvoice.currency.symbol}} {{partsTotals.totalFinal}}" readonly/>
                                </div>
                            </div>
                        </div>
                    
 
                    </div>
                </div>

      </div>
    
  </form>

</div>

<script>
    var elementTag = "{{elementTag}}";
    var elementTagSub = "{{elementTagSub}}";
    var elementTagId = "{{elementTagId}}";
    var commericalInvoiceId = "{{commericalInvoice.id}}";
    var pageUrl = "/account/commerical_invoice_update/{{elementTagId}}/";
    var currencySymbol = "{{commericalInvoice.currency.symbol}}";
    var userId = "{{user.id}}";

    // Vessel seçildiğinde AJAX isteği yaparak Billing'ları günceller
    $('#id_vessel').on('change', function() {
        var vesselInformId = $(this).val();
        $.ajax({
            url: '/card/api/billings',
            data: {'vessel': vesselInformId},
            dataType: 'json',
            success: function(data) {
                $('#id_billing').empty();
                $('#id_billing').append($('<option>').val("").text("--------"));
                $.each(data, function(i, billing) {
                    $('#id_billing').append($('<option>').val(billing.id).text(billing.name));
                });
                //$("#id_billing").trigger("change");
            }
        });
    });

    // Currency seçildiğinde AJAX isteği yaparak Part'lardaki fiyatları günceller
    {% comment %} $('#formCurrencySI').on('change', function() {
        //spinner başlatır
        $("body").busyLoad("show", {
            animation: false,
            spinner: "pulsar",
            maxSize: "150px",
            minSize: "150px",
            text: "Loading ...",
            background: "rgba(69, 83, 89, 0.6)",
            color: "#455359",
            textColor: "#fff"
        });

        //quotaiton part'ları güncelleyen istek
        var currencyInformId = $(this).val();
        console.log(currencyInformId);
        htmx.ajax("POST", "/account/send_invoice_part_currency_update/si_{{sendInvoice.id}}_c_" + currencyInformId + "/");
        htmx.on("htmx:beforeSwap", (e) => {
            if(e.detail.xhr.status == 204){
                $("#message-container-{{elementTag}}-{{elementTagId}}").html('<div id="message-container-inside--{{elementTag}}-{{elementTagId}}"><i class="fas fa-check-circle me-1"></i>Saved!</div>');
                $.ajax({
                    url: '/account/api/send_invoices',
                    data: {'id': '{{sendInvoice.id}}'},
                    dataType: 'json',
                    success: function(data) {
                        console.log(data);
                        $.each(data, function(i, sendInvoice) {
                            console.log(sendInvoice.paidPrice)
                            let remainingPrice = sendInvoice.totalPrice - sendInvoice.paidPrice;
                            $("#totalTotalPrice-{{elementTagSub}}-{{elementTagId}}").val(sendInvoice.currency.symbol + " " + sendInvoice.netPrice.toLocaleString('tr-TR', { currency: sendInvoice.currency.code, minimumFractionDigits: 2 }));
                            $("#totalDiscountPrice-{{elementTagSub}}-{{elementTagId}}").val(sendInvoice.currency.symbol + " " + sendInvoice.discountPrice.toLocaleString('tr-TR', { currency: sendInvoice.currency.code, minimumFractionDigits: 2 }));
                            $("#totalVatPrice-{{elementTagSub}}-{{elementTagId}}").val(sendInvoice.currency.symbol + " " + sendInvoice.vatPrice.toLocaleString('tr-TR', { currency: sendInvoice.currency.code, minimumFractionDigits: 2 }));
                            $("#totalFinalPrice-{{elementTagSub}}-{{elementTagId}}").val(sendInvoice.currency.symbol + " " + sendInvoice.totalPrice.toLocaleString('tr-TR', { currency: sendInvoice.currency.code, minimumFractionDigits: 2 }));
                            $("#totalRemainingPrice-{{elementTagSub}}-{{elementTagId}}").val(sendInvoice.currency.symbol + " " + remainingPrice.toLocaleString('tr-TR', { currency: sendInvoice.currency.code, minimumFractionDigits: 2 }));
                        });
                    }
                });
            };
            //Tabloyu yeniler
            $(".tableBox-inform-{{elementTagSub}}-{{elementTagId}} .dataTables_scrollBody").busyLoad("show", {
                animation: false,
                spinner: "pulsar",
                maxSize: "150px",
                minSize: "150px",
                text: "Loading ...",
                background: "rgba(69, 83, 89, 0.6)",
                color: "#455359",
                textColor: "#fff"
            });
            $("#table-{{elementTagSub}}-{{elementTagId}}").DataTable().ajax.reload();
            $("#table-{{elementTagSub}}-{{elementTagId}}").on( 'draw.dt', function () {
                htmx.process("#table-{{elementTagSub}}-{{elementTagId}}");
                $(".tableBox-inform-{{elementTagSub}}-{{elementTagId}} .dataTables_scrollBody").busyLoad("hide", {
                    animation: "fade"
                });
                //spinner durdurur
                $("body").busyLoad("hide", {
                    animation: "fade"
                });
            });
            $("#table-{{elementTagSub}}-{{elementTagId}}-expense").DataTable().ajax.reload();
            $("#table-{{elementTagSub}}-{{elementTagId}}-expense").on( 'draw.dt', function () {
                htmx.process("#table-{{elementTagSub}}-{{elementTagId}}-expense");
                $(".tableBox-inform-{{elementTagSub}}-{{elementTagId}}-expense .dataTables_scrollBody").busyLoad("hide", {
                    animation: "fade"
                });
            });
        });
        // Mesajı belirli bir süre sonra gizle
        setTimeout(function() {
        $("#message-container-inside--{{elementTag}}-{{elementTagId}}").fadeOut("slow");
        }, 2000); // 3000 milisaniye (3 saniye) sonra mesaj kaybolacak
    }); {% endcomment %}

    $(".addClose-{{elementTag}}").click(function() {
        document.getElementById("addFormBlock-{{elementTag}}").innerHTML = "";
        $(".tableBox-{{elementTag}}").eq(0).removeClass("col-md-4");
        $(".addForm-{{elementTag}}").eq(0).removeClass("col-md-8");
        $("#table-{{elementTag}}").DataTable().ajax.reload(function(){
            htmx.process('#table-{{elementTag}}');
        },false);
        $("#table-{{elementTag}}_filter").show();
    });

    $("#navTagLink-{{elementTag}}-{{elementTagId}}-add-1").on("shown.bs.tab", function(e){
        $("#table-{{elementTagSub}}-{{elementTagId}}").DataTable().columns.adjust();
    });
    $("#navTagLink-{{elementTag}}-{{elementTagId}}-add-2").on("shown.bs.tab", function(e){
        $("#table-{{elementTagSub}}-{{elementTagId}}-expense").DataTable().columns.adjust();
    });

    $("#remove-{{elementTag}}-{{elementTagId}}").on("click", function(){

        let idList = []
        let typeList = []
        idList.push("{{elementTagId}}");
        htmx.ajax("GET", "/account/commerical_invoice_delete/" + idList, "#addUpdateDataDialog");

    });



</script>

{% block javascript %}



<script src="{% static 'js/account/commerical_invoice/detail.js' %}"></script>

{% endblock javascript %}

