{% load static %}
{% include 'includes/control/htmx_control.html' %}
<form hx-post="{{ request.path }}" class="" id="form-{{elementTagSub}}-{{elementTagId}}-expense" enctype="multipart/form-data">
    {% csrf_token %}
    {% load widget_tweaks %}

    <div class="row border-bottom">
        <div class="col-md-6 mb-3">
          <div class="form-outline">
            {{form.expense}}
            <label for="selectFormOutline" class="form-label select-label">Name</label>
          </div>
        </div>
        {% comment %} <div class="col-md-5 mb-3">
          <div class="form-outline">
            {{form.description}}
            <label for="selectFormOutline" class="form-label select-label">Description</label>
          </div>
        </div> {% endcomment %}
        <div class="col-md-2 mb-3">
          <div class="form-outline">
            {{ form.quantity }}
            <label for="textFormOutline" class="form-label">Quantity</label>
          </div>
        </div>
        <div class="col-md-2 mb-3">
          <div class="form-outline">
            {{ form.unit }}
            <label for="textFormOutline" class="form-label select-label">Unit</label>
          </div>
        </div>
        <div class="col-md-1 mb-3">
          <div class="d-grid gap-2">
            <button class="btn btn-sm btn-dark" id="addSubmit-{{elementTagSub}}-{{elementTagId}}" type="submit">Add</button>
          </div>
        </div>
        <div class="col-md-1 mb-3">
          <div class="d-grid gap-2">
            <button class="btn btn-sm btn-danger" id="addClose-{{elementTagSub}}-{{elementTagId}}" type="button">Close</button>
          </div>
        </div>
      </div>
</form>

<script>

    

    var detailRefererPathSub = "{{refererPath}}";

    var elementTag = "{{elementTag}}";
    var elementTagSub = "{{elementTagSub}}";
    var commericalInvoiceExpenseId = "{{commericalInvoiceExpense.id}}";
    var invoiceId = "{{commericalInvoiceExpense.invoice.id}}";
    var pageUrl = "/account/commerical_invoice_expense_add_in_detail/i_" + invoiceId + "/";
    var addSubDataHxGet = "/account/commerical_invoice_expense_add_in_detail/i_" + invoiceId + "/";
    
    $("#addClose-{{elementTagSub}}-{{elementTagId}}").click(function() {
        $("#form-{{elementTagSub}}-{{elementTagId}}-expense").remove();
        
    });

    $("#form-{{elementTagSub}}-{{elementTagId}}-expense").submit(function (event) {
        $(".tableBox-inform-{{elementTagSub}}-{{elementTagId}}-expense .dataTables_scrollBody").busyLoad("show", {
            animation: false,
            spinner: "pulsar",
            maxSize: "150px",
            minSize: "150px",
            text: "Loading ...",
            background: "rgba(69, 83, 89, 0.6)",
            color: "#455359",
            textColor: "#fff"
        });

        $("#table-{{elementTagSub}}-{{elementTagId}}-expense").DataTable().ajax.reload()

        $("#table-{{elementTagSub}}-{{elementTagId}}-expense").on( 'draw.dt', function () {
            htmx.process("#table-{{elementTagSub}}-{{elementTagId}}-expense");
            $(".tableBox-inform-{{elementTagSub}}-{{elementTagId}}-expense .dataTables_scrollBody").busyLoad("hide", {
              animation: "fade"
            });
        });

        $("#table-{{elementTagSub}}-{{elementTagId}}-expense").DataTable().columns.adjust();
        
    });

    
    
</script>

