{% load static %}

{% block body %}
{% load crispy_forms_tags %}
{% include 'includes/control/htmx_control.html' %}
<style>
    * html body{font-family: "Roboto", sans-serif!important;}
</style>

<li class="nav-item" role="presentation" id="navTag-{{elementTag}}" style="display:none;flex: 0 0 auto;">
    <a class="nav-link mainNavLink position-relative border border-1 rounded-0 border-secondary-subtle" id="navTagLink-{{elementTag}}" data-mdb-pill-init data-mdb-toggle="tab" href="#tabPane-{{elementTag}}" role="tab" aria-controls="tabPane-{{elementTag}}" aria-selected="true">
        {% comment %} <i class="fa-solid fa-code-pull-request"></i> {% endcomment %}
        {% comment %} <i class="fa-solid fa-money-check-dollar me-2"></i> {% endcomment %}
        {{tag}}
        <button class="btn btn-tertiary position-absolute top-20 translate-middle badge p-1" href="#" id="removeNav-{{elementTag}}" style="margin-left: 15%;">
            <i class="fa-solid fa-xmark" style="font-size:0.75rem;"></i>
        </button>
    </a>
</li>

<div class="tab-pane mainTabPane fade" id="tabPane-{{elementTag}}" role="tabpanel" aria-labelledby="navTagLink-{{elementTag}}" style="height:100%;">

    <!-- Tabs navs Sub-->
    <ul class="nav nav-pills  sortable-list d-flex" style="background-color: #f1f2f7" id="tabNavSub-{{elementTag}}" data-mdb-sortable="sortable" role="tablist" style="margin-bottom: 0 !important;">
        <li class="nav-item" role="presentation" id="navTag-{{elementTag}}-table">
            <a class="nav-link mainNavLinkSub-{{elementTag}} active border border-1 rounded-0 border-secondary-subtle" id="navTagLink-{{elementTag}}-table" data-mdb-pill-init data-mdb-toggle="tab" href="#tabPane-{{elementTag}}-table" role="tab" aria-controls="tabPane-{{elementTag}}-table" aria-selected="true" style="font-size:9px;padding:10px 25px 10px 25px;margin: 0px!important;">
                List
            </a>
        </li>
    </ul>
    <!-- Tabs navs Sub-->

    <!-- Tabs content -->
    <div class="tab-content" id="tabContSub-{{elementTag}}" hx-target="this">

        <div class="tab-pane mainTabPaneSub-{{elementTag}} fade show active" id="tabPane-{{elementTag}}-table" role="tabpanel" aria-labelledby="navTagLink-{{elementTag}}-table">

            <div class="globalBoxes split">
                <div id="addFormBlock-left-{{elementTag}}" hx-target="this" class="box addFormBlock addForm-left-{{elementTag}} d-none">
                    
                </div>

                <div id="tablotablo" class="box tableBox tableBox-{{elementTag}}" style="transition: all 1s ease;">
                    <table id="table-{{elementTag}}" class="table table-striped table-hover table-bordered dataTable no-footer" style="width:100%;transition: all 1s ease;">
                        <thead>
                            <tr>
                                {% comment %} <th><input class="form-check-input" type="checkbox" value="" id="select-all-{{elementTag}}" style="position:relative;margin-top:.19em;margin-left:0.4em;width:0.875rem;height:0.875rem;border-width:1px;"></th> {% endcomment %}
                                <th>Select</th>
                                <th>Line</th>
                                <th>ID</th>
                                <th>Date</th>
                                <th>Current</th>
                                <th>Type</th>
                                <th>Bank</th>
                                <th>Description</th>
                                <th>Payment No</th>
                                <th>Invoice A.</th>
                                <th>Credit A.</th>
                                <th>Amount</th>
                                <th>Currency</th>
                                <th>Amount TRY</th>
                                <th>Invoice Details</th>
                                <th>Project No</th>
                                <th>Forex Selling</th>
                            </tr>
                        </thead>
                        <tbody id="tbody">

                        </tbody>
                    </table>
                </div>

                <div id="addFormBlock-{{elementTag}}" hx-target="this" class="box addFormBlock addForm-{{elementTag}}">
                    
                </div>
                
            </div>

        </div>
    </div>

</div>

<!-- Add/Update Data Modal Small-->
<div id="addUpdateDataModal-{{elementTag}}" class="modal fade smallModal" tabindex="-1" aria-hidden="true">
    <div id="addUpdateDataDialog-{{elementTag}}" class="modal-dialog" hx-target="this"></div>
</div>

{% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/split.js/1.6.0/split.min.js"></script> {% endcomment %}

<div
  class="alert alert-dismissible fade mt-3 mainAlert"
  id="paymentAddAlert"
  data-mdb-position="top-center"
  data-mdb-hidden="true"
  data-mdb-autohide="true"
  data-mdb-delay="2000"
  data-mdb-width="25%"
  role="alert"
  data-mdb-alert-init
  data-mdb-color="primary"
>

</div>

<script>
    
    var elementTag = "{{elementTag}}";
    var elementTagSub = "{{elementTagSub}}";
    var elementTagId = "table";
    var pageUrl = "/account/payment_data/";

    var paymentAddAlertBlock = document.getElementById('paymentAddAlert');
    var paymentAddAlert = new mdb.Alert(paymentAddAlertBlock);

</script>

{% endblock body %}

{% block javascript %}

<script src="{% static 'js/account/payment/list.js' %}"></script>

{% endblock javascript %}

