{% load static %}
{% include 'includes/control/htmx_control.html' %}
<li class="nav-item" role="presentation" id="navTag-{{elementTag}}-{{elementTagId}}" style="display:none;">
    <a class="nav-link mainNavLinkSub-{{elementTag}} position-relative border border-1 rounded-0 border-secondary-subtle text-truncate" id="navTagLink-{{elementTag}}-{{elementTagId}}" data-mdb-pill-init data-mdb-toggle="tab" href="#tabPane-{{elementTag}}-{{elementTagId}}" role="tab" aria-controls="tabPane-{{elementTag}}-{{elementTagId}}" aria-selected="true" style="font-size:9px;padding:10px 25px 10px 25px;margin: 0px!important;"> 
        {{company.name}}
        <button class="btn btn-tertiary position-absolute top-20 translate-middle badge p-1" href="#" id="removeNav-{{elementTag}}-{{elementTagId}}" style="margin-left: 5%;">
          <i class="fa-solid fa-xmark" style="font-size:0.75rem;"></i>
        </button>
        <!-- <div style="display: flex;justify-content: end;">
          <button class="btn btn-tertiary closeTabButton" href="#" id="removeNav-{{elementTag}}-{{elementTagId}}">
            <i class="fa-solid fa-xmark" style="font-size:0.75rem;"></i>
          </button>
        </div> -->
    </a>
</li>

<div class="tab-pane mainTabPaneSub-{{elementTag}} fade" id="tabPane-{{elementTag}}-{{elementTagId}}" role="tabpanel" aria-labelledby="navTagLink-{{elementTag}}-{{elementTagId}}">

    <div class="globalBoxes">
        <div class="box tableBox tableBox-{{elementTag}}" style="transition: all 1s ease;">
            {% comment %} <div class="topButtonBox">
                <a class="tableTopButtons" hx-get="{% url 'card:company_add' %}" hx-target="#addUpdateDataDialogXl" style=""><i class="fa-solid fa-plus"></i></a>
                <a class="deleteData tableTopButtons" href="#" style=""><i class="fa-solid fa-trash"></i></a>
                <a class="tableTopButtons" href="#" style=""><i class="fa-solid fa-print"></i></a>
                <a class="tableTopButtons" href="{% url 'card:company_bulk_add_excel' %}" style=""><i class="fa-solid fa-file-arrow-down"></i></a>
                <a class="tableTopButtons" hx-get="{% url 'card:company_bulk_add' %}" hx-target="#addUpdateDataDialog-r" style=""><i class="fa-solid fa-file-arrow-up"></i></a>
            </div> {% endcomment %}
            <div class="row">
                <div class="col-md-9">
                    <table id="table-{{elementTagSub}}-{{elementTagId}}" class="table table-striped table-hover table-bordered dataTable no-footer" data-mdb-max-height="460" data-mdb-fixed-header="true" style="transition: all 1s ease;">
                        <thead>
                            <tr style="background:#9d2235;">
                                <th class="text-white text-white text-center fw-bold" colspan="12">{{company.name}}</th>
                            </tr>
                            <tr style="background:#003865;">
                                <th class="text-white">Select</th>
                                <th class="text-white">Line</th>
                                <th class="text-white">ID</th>
                                <th class="text-white">Date</th>
                                <th class="text-white">Description</th>
                                <th class="text-white">Project</th>
                                <th class="text-white">Invoice No</th>
                                <th class="text-white">Debt</th>
                                <th class="text-white">Credit</th>
                                <th class="text-white">Currency</th>
                                <th class="text-white">Currency</th>
                                <th class="text-white">Amount TRY</th>
                                <th class="text-white">Company ID</th>
                                <th class="text-white">Payment Type</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="tbody">
                        
                        </tbody>
                        <tfoot style="display:none;">
                            <tr>
                                <th>Select</th>
                                <th>Line</th>
                                <th>ID</th>
                                <th>Date</th>
                                <th>Description</th>
                                <th>Debt</th>
                                <th>Project</th>
                                <th>Invoice No</th>
                                <th>Credit</th>
                                <th>Currency</th>
                                <th>Currency</th>
                                <th>Amount TRY</th>
                                <th>Company ID</th>
                                <th>Payment Type</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-12 mb-3 text-center">
                            <span>&nbsp;</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table id="table-{{elementTagSub}}-soaTotal" class="table table-striped table-bordered table-hover dataTable no-footer">
                                <thead>
                                    <tr style="background:#9d2235;">
                                        <th class="text-white text-white text-center fw-bold" colspan="3">COMPANY CREDIT</th>
                                    </tr>
                                    <tr style="background:#003865;">
                                        <th class="text-white">CREDIT PERIOD</th>
                                        <th class="text-white">CREDIT LIMIT</th>
                                        <th class="text-white">CURRENCY</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-end">{{company.creditPeriod}}</td>
                                        <td class="text-end">{{company.creditLimit| floatformat:2}}</td>
                                        <td class="text-center">{{company.currency.code}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {% comment %} <div class="row">
                        <div class="col-md-12 mb-3 text-center">
                            <span>COMPANY TOTAL</span>
                        </div>
                    </div> {% endcomment %}
                    <div class="row">
                        <div class="col-md-12">
                            <table id="table-{{elementTagSub}}-soaTotal" class="table table-striped table-bordered table-hover dataTable no-footer">
                                <thead>
                                    <tr style="background:#9d2235;">
                                        <th class="text-white text-center fw-bold" colspan="4">COMPANY TOTAL</th>
                                    </tr>
                                    <tr style="background:#003865;">
                                        <th class="text-white">CURRENCY</th>
                                        <th class="text-white">DEBT</th>
                                        <th class="text-white">CREDIT</th>
                                        <th class="text-white">BALANCE</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>USD</td>
                                        <td class="text-end">{{currentsUSDDebtTotal}}</td>
                                        <td class="text-end">{{currentsUSDCreditTotal}}</td>
                                        <td class="text-end">{{currentsUSDBalanceTotal}}</td>
                                    </tr>
                                    <tr>
                                        <td>EUR</td>
                                        <td class="text-end">{{currentsEURDebtTotal}}</td>
                                        <td class="text-end">{{currentsEURCreditTotal}}</td>
                                        <td class="text-end">{{currentsEURBalanceTotal}}</td>
                                    </tr>
                                    <tr>
                                        <td>GBP</td>
                                        <td class="text-end">{{currentsGBPDebtTotal}}</td>
                                        <td class="text-end">{{currentsGBPCreditTotal}}</td>
                                        <td class="text-end">{{currentsGBPBalanceTotal}}</td>
                                    </tr>
                                    <tr>
                                        <td>QAR</td>
                                        <td class="text-end">{{currentsQARDebtTotal}}</td>
                                        <td class="text-end">{{currentsQARCreditTotal}}</td>
                                        <td class="text-end">{{currentsQARBalanceTotal}}</td>
                                    </tr>
                                    <tr>
                                        <td>RUB</td>
                                        <td class="text-end">{{currentsRUBDebtTotal}}</td>
                                        <td class="text-end">{{currentsRUBCreditTotal}}</td>
                                        <td class="text-end">{{currentsRUBBalanceTotal}}</td>
                                    </tr>
                                    <tr>
                                        <td>JPY</td>
                                        <td class="text-end">{{currentsJPYDebtTotal}}</td>
                                        <td class="text-end">{{currentsJPYCreditTotal}}</td>
                                        <td class="text-end">{{currentsJPYBalanceTotal}}</td>
                                    </tr>
                                    <tr>
                                        <td>TRY</td>
                                        <td class="text-end">{{currentsTRYDebtTotal}}</td>
                                        <td class="text-end">{{currentsTRYCreditTotal}}</td>
                                        <td class="text-end">{{currentsTRYBalanceTotal}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table id="table-{{elementTagSub}}-soaTotal" class="table table-striped table-bordered table-hover dataTable no-footer">
                                <thead>
                                    <tr style="background:#9d2235;">
                                        <th class="text-white text-center fw-bold" colspan="4">EXCHANGE RATES</th>
                                    </tr>
                                    <tr style="background:#003865;">
                                        <th class="text-white">CURRENCY</th>
                                        <th class="text-white">FOREX BUYING</th>
                                        <th class="text-white">FOREX SELLING</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><img src="{% static 'images/flags/united-states.png' %}" height="28px" class=""alt=""> USD</td>
                                        <td class="text-end">{{usd.forexBuying}}</td>
                                        <td class="text-end">{{usd.forexBuying}}</td>
                                    </tr>
                                    <tr>
                                        <td><img src="{% static 'images/flags/european-union.png' %}" height="28px" class=""alt=""> EUR</td>
                                        <td class="text-end">{{eur.forexBuying}}</td>
                                        <td class="text-end">{{eur.forexBuying}}</td>
                                    </tr>
                                    <tr>
                                        <td><img src="{% static 'images/flags/united-kingdom.png' %}" height="28px" class=""alt=""> GBP</td>
                                        <td class="text-end">{{gbp.forexBuying}}</td>
                                        <td class="text-end">{{gbp.forexBuying}}</td>
                                    </tr>
                                    <tr>
                                        <td><img src="{% static 'images/flags/qatar.png' %}" height="28px" class=""alt=""> AUD</td>
                                        <td class="text-end">{{qar.forexBuying}}</td>
                                        <td class="text-end">{{qar.forexBuying}}</td>
                                    </tr>
                                    <tr>
                                        <td><img src="{% static 'images/flags/canada.png' %}" height="28px" class=""alt=""> CAD</td>
                                        <td class="text-end">{{rub.forexBuying}}</td>
                                        <td class="text-end">{{rub.forexBuying}}</td>
                                    </tr>
                                    <tr>
                                        <td><img src="{% static 'images/flags/japan.png' %}" height="28px" class=""alt=""> JPY</td>
                                        <td class="text-end">{{jpy.forexBuying}}</td>
                                        <td class="text-end">{{jpy.forexBuying}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="d-flex justify-content-sm-between" style="font-size:0.6rem;">
                                    <span>Source: TCMB</span>
                                    <span>Last Update: {{usd.tcmbRateDate}}</span>
                                    <span>Turkish Lira</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        

        <div id="addFormBlock-{{elementTag}}" hx-target="this" class="box addForm-{{elementTag}}" style="box-shadow:none;padding-top:65px;transition: all 1s ease;">
            
        </div>
        
    </div>


</div>

<script>
var elementTag = "{{elementTag}}";
var elementTagSub = "{{elementTagSub}}";
var elementTagId = "{{elementTagId}}";
var soaId = "{{company.id}}";
var soaName = "{{company.name}}";
var pageUrl = "/account/soa_update/{{elementTagId}}/"

var usd = "{{exchange.usd_fb}}";
var eur = "{{exchange.eur_fb}}";



</script>

{% block javascript %}



<script src="{% static 'js/account/soa/detail.js' %}"></script>

{% endblock javascript %}

