<!-- Layout eklemimizi sağlayan komut. -->
{% extends "layout.html" %}
<!-- Static dosyalarından yararlanmamız için. -->
{% load static i18n%}

<!-- Her sayfada sayfa özelinde dinamik olarak değişmesi gereken kısımlar burada tanımlanıyor. -->
{% block title %}{% trans 'Add Contact' %}{% endblock %}
{% block mainDirectory %}{% trans 'Information' %}{% endblock %}
{% block childDirectory %}{% trans 'Add Contact' %}{% endblock childDirectory %}
{% block href %}{% url 'information:contact_person_data' %}{% endblock %}
{% block mainRoute %}Contact{% endblock %}
{% block childRoute %}Add Contact{% endblock %}

{% block plugins %}
<script src="{% static 'lib/global_assets/js/plugins/forms/selects/select2.min.js' %}"></script>
<script src="{% static 'lib/global_assets/js/plugins/forms/selects/bootstrap_multiselect.js' %}"></script>
{% endblock %}

{% block demo_pages %}
<script src="{% static 'lib/global_assets/js/demo_pages/form_select2.js' %}"></script>
{% endblock %}


{% block content %}

<div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <div class="media flex-md-row mb-2">
                <a id="iconContact" class="align-self-md-start mr-3">
                    <img src="{% static 'images/icons/add-contact.svg' %}" class="rounded" width="44" height="44"
                        alt="">
                </a>
                <div class="media-body">
                    <h5 class="media-title font-weight-semibold">{% trans 'Add Contact' %}</h5>
                    <ul class="list-inline list-inline-dotted text-muted mb-0">
                        <li class="list-inline-item">Add new <u>contact</u> for company.</li>
                    </ul>
                </div>
                <div class="align-self-md-center actionButtons">
                </div>
            </div>
        </div>

        <div class="card-body">
            <form id="form" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    {% for field in contact_add_form %}
                    <div class="form-group col-md-4 col-lg-3">
                        <label>{{field.label}}</label>
                        {{ field }}
                        {{ field.errors }}
                    </div>
                    {% endfor %}
                </div>
                <fieldset class="card-body border-top w-100 text-right">
                    <button id="formSubmit" type="submit" class="btn btn-primary">{% trans 'Save' %}</button>
                </fieldset>
            </form>
        </div>
    </div>
</div>


{% endblock %}
<!-- Content bloğu sonu -->
{% block javascript %}
<script type="module" src="{% static 'js/information/contact/contact_add.js' %}"></script>

{% endblock javascript %}