{% extends "./password_reset_root.html" %}
{% load i18n static %}

{% block title %} Reset Password {% endblock %}
{% block back_button %}{% url 'user:landing_page' %}{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/registration/registration.css' %}">

<!-- Content area -->
<div class="content d-flex justify-content-center align-items-center pt-0">
    <!-- Password recovery form -->
    <form class="login-form" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card mb-0">
            <div class="card-body">
                <div class="text-center mb-3">
                    <i
                        class="icon-spinner11 icon-2x text-warning border-warning border-3 rounded-round p-3 mb-3 mt-1"></i>
                    <h5 class="mb-0"> {% translate 'Password reset' %}</h5>
                    <span class="d-block text-muted">{% translate 'We will send you instructions in email' %}</span>
                </div>
                {{ form.email.errors }}

                <div class="form-group form-group-feedback form-group-feedback-right">
                    <input type="email" name="{{ form.email.name }}" class="form-control" placeholder="Your email">
                    <div class="form-control-feedback">
                        <i class="icon-mail5 text-muted"></i>
                    </div>
                </div>

                <button type="submit" class="btn submit btn-block"><i class="icon-spinner11 mr-2"></i> Reset
                    password</button>
            </div>
        </div>
    </form>
    <!-- /password recovery form -->
</div>
<!-- /content area -->
{% endblock %}