{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- /theme JS files -->
    <title>{% block title %}{% endblock %}</title>
    <!-- Global stylesheets -->

    

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet"
        type="text/css">
    <link href="{% static 'lib/global_assets/css/icons/icomoon/styles.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'lib/login_register/dark/css/all.min.css' %}" rel="stylesheet" type="text/css">

    <script src="{% static 'lib/global_assets/js/main/jquery.min.js' %}"></script>
    <script src="{% static 'lib/global_assets/js/main/bootstrap.bundle.min.js' %}"></script>


    <!-- /global stylesheets -->

    <!-- Core JS files -->
    <script src="{% static 'lib/global_assets/js/main/jquery.min.js' %}"></script>
    <script src="{% static 'lib/global_assets/js/main/bootstrap.bundle.min.js' %}"></script>
    <!-- /core JS files -->

    <link rel="icon" type="image/svg+xml" href="{% static 'images/landing/esms-logo-red-light.png' %}" sizes="32x32"> 

    <link id="lightThemeLinkMDB" href="{% static 'lib/mdb5-standard-ui-kit-pro-advanced-6.4.0/css/mdb-custom.min.css' %}" rel="stylesheet" type="text/css">

</head>

<body class="custom-scrollbars" cz-shortcut-listen="true">
    <div id="header" class="navbar navbar-expand-xl navbar-light navbar-static px-0">
        <div class="d-flex flex-xl-1 pl-3 justify-content-center">
            <div class="navbar-brand wmin-0 mr-2 p-0 ju">
                <!-- <a href="{% url 'user:landing_page' %}" class="logo d-flex align-items-center justify-content-center">
                </a> -->
                <img src="/static/images/landing/esms-logo-light.png" alt="" style="height:4rem;">
                <span>MichoApp</span>
            </div>
        </div>

        <div
            class="d-flex w-xl-auto overflow-auto overflow-xl-visible scrollbar-hidden border-top border-top-light-100 border-top-xl-0 order-1 order-xl-0">
            <ul class="navbar-nav navbar-nav-underline flex-row text-nowrap mx-auto">
                {% comment %} <li class="nav-item">
                    <a href="#about" class="navbar-nav-link">
                        <i class="icon-info3 mr-2"></i>
                        About
                    </a>
                </li> {% endcomment %}

                {% comment %} <li class="nav-item">
                    <a href="#" class="navbar-nav-link">
                        <i class="icon-price-tag mr-2"></i>
                        Pricing
                    </a>
                </li> {% endcomment %}

                {% comment %} <li class="nav-item ms-auto">
                    <a data-toggle="modal" data-target="#myModal" class="navbar-nav-link" id="loginButton">
                        <i class="icon-arrow-right6  mr-2"></i>
                        Login
                    </a>
                </li> {% endcomment %}
            </ul>
        </div>

        <div class="d-flex flex-xl-1 justify-content-center order-0 order-xl-1 pr-3 ms-auto">
            <a href="#about" class="navbar-nav-link">
                <i class="icon-info3 mr-2"></i>
                About
            </a>
            <a data-toggle="modal" data-target="#myModal" class="navbar-nav-link" id="loginButton">
                <i class="icon-arrow-right6  mr-2"></i>
                Login
            </a>
        </div>
    </div>

    <main>
        {% block content %}

        {% endblock %}

    </main>





</body>

</html>