<!-- Base layout eklemimizi sağlayan komut. -->
{% extends "mail/base.html" %}
<!-- Static dosyalarından yararlanmamız için. -->
{% load static i18n%}
{% block subject %}
<tr>
    <td align="center" bgcolor="#ffffff" style="padding:30px 11px 16px; margin:0">
        <span
            style="color: rgb(40, 43, 49); font-weight: 300; font-size: 34px; font-family: 'Helvetica Neue', Helvetica, sans-serif, serif, EmojiFont;">
            {% translate "Password Recovery" %}</span>
    </td>
</tr>
{% endblock %}

{% block content %}
<tr>
    <td align="left" bgcolor="#ffffff" style="padding:20px 21px 15px 21px; margin:0">
        <span
            style="color: rgb(100, 100, 100); font-weight: normal; font-size: 14px; font-family: 'Helvetica Neue', Helvetica, sans-serif, serif, EmojiFont;">
            {% blocktranslate %}You're receiving this email because you requested a password reset for your user account at {{ site_name }}.{% endblocktranslate %}
        </span>
    </td>
</tr>
<tr>
    <td align="left" bgcolor="#ffffff" style="padding:20px 21px 15px 21px; margin:0">
        <span
            style="color: rgb(100, 100, 100); font-weight: normal; font-size: 14px; font-family: 'Helvetica Neue', Helvetica, sans-serif, serif, EmojiFont;">
            {% translate "Please go to the following page and choose a new password:" %}
        </span>
    </td>
</tr>
<tr>
    <td align="left" bgcolor="#ffffff" style="padding:0 21px 10px 21px; margin:0">
        <span
            style="color: #0000EE; font-weight: 300; font-size: 14px; font-family: 'Helvetica Neue', Helvetica, sans-serif, serif, EmojiFont; line-height: 175%;">
            {% block reset_link %}{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}{% endblock %}</span>
    </td>
</tr>
<tr>
    <td align="left" bgcolor="#ffffff" style="padding:0 21px 10px 21px; margin:0">
        <span
            style="color: rgb(100, 100, 100); font-weight: 300; font-size: 14px; font-family: 'Helvetica Neue', Helvetica, sans-serif, serif, EmojiFont; line-height: 175%;">
            {% translate 'Your username, in case you’ve forgotten:' %} {{ user.get_username }}</span>
    </td>
</tr>
<tr>
    <td align="left" bgcolor="#ffffff" style="padding:0 21px 10px 21px; margin:0">
        <span
            style="color: rgb(100, 100, 100); font-weight: 300; font-size: 14px; font-family: 'Helvetica Neue', Helvetica, sans-serif, serif, EmojiFont; line-height: 175%;">
            {% translate "Thanks for using our site!" %}</span>
    </td>
</tr>
<tr>
    <td align="left" bgcolor="#ffffff" style="padding:0 21px 10px 21px; margin:0">
        <span
            style="color: rgb(100, 100, 100); font-weight: 300; font-size: 14px; font-family: 'Helvetica Neue', Helvetica, sans-serif, serif, EmojiFont; line-height: 175%;">
            {% blocktranslate %}The {{ site_name }} team{% endblocktranslate %}</span>
    </td>
</tr>
{% endblock %}
{% block target_email %}
<a href="mailto:{{ user.email }}" target="_blank" rel="noopener noreferrer" data-auth="NotApplicable"
    style="color:#aeb1ba; font-weight:bold; font-size:11px; font-family:'Helvetica Neue',Helvetica,sans-serif; text-decoration:none">
    {{ user.email }}
</a>
{% endblock %}