{% load static %}

<li class="nav-item" role="presentation" id="navTag-{{elementTag}}-{{elementTagId}}" style="display:none;">
  <a class="nav-link mainNavLinkSub-{{elementTag}} position-relative border border-1 rounded-0 border-secondary-subtle text-truncate" id="navTagLink-{{elementTag}}-{{elementTagId}}" data-mdb-pill-init data-mdb-toggle="tab" href="#tabPane-{{elementTag}}-{{elementTagId}}" role="tab" aria-controls="tabPane-{{elementTag}}-{{elementTagId}}" aria-selected="true" style="font-size:9px;padding:10px 25px 10px 25px;margin: 0px!important;">
      {{serviceCard.code}}
      <button class="btn btn-tertiary position-absolute top-20 translate-middle badge p-1" href="#" id="removeNav-{{elementTag}}-{{elementTagId}}" style="margin-left: 15%;">
        <i class="fa-solid fa-xmark" style="font-size:0.75rem;"></i>
      </button>
      <!-- <div style="display: flex;justify-content: end;">
        <button class="btn btn-tertiary closeTabButton" href="#" id="removeNav-{{elementTag}}-{{elementTagId}}">
          <i class="fa-solid fa-xmark" style="font-size:0.75rem;"></i>
        </button>
      </div> -->
  </a>
</li>

<div class="tab-pane mainTabPaneSub-{{elementTag}} fade" id="tabPane-{{elementTag}}-{{elementTagId}}" role="tabpanel" aria-labelledby="navTagLink-{{elementTag}}-{{elementTagId}}">
  <form hx-post="{{ request.path }}" class="modal-content form-container border border mainAddForm needs-validation" id="form-{{elementTag}}-{{elementTagId}}" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.media }}
      <div class="modal-header border-2 border-bottom" style="box-shadow:none!important;background-color: #c9c9c9;">
        <button class="tableTopButtons inTableButtons" type="submit" name="saveButton">
          <img src="/static/images/icons/flaticon/{{user.profile.theme}}/diskette.svg" alt="" style="height: 18px;">
        </button>
        <div class="me-auto" id="message-container-{{elementTag}}-{{elementTagId}}"></div>
      </div>

      <div class="modal-body p-2" style="box-shadow:none;">

        <div class="row mb-3">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-4 mb-2">
                <div class="form-outline">
                  {{ form.machineType }}
                  <label for="{{form.machineType.field.widget.attrs.id}}" class="form-label select-label">Machine Type</label>
                </div>
              </div>
              <div class="col-md-4 mb-2">
                <div class="form-outline">
                  {{ form.code }}
                  <label for="{{form.code.field.widget.attrs.id}}" class="form-label">Service Code</label>
                </div>
              </div>
              <div class="col-md-4 mb-2">
                <div class="form-outline">
                  {{ form.name }}
                  <label for="{{form.name.field.widget.attrs.id}}" class="form-label">Service Name</label>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4 switchConnect mb-2">
                <div class="form-outline">
                  {{ form.group }}
                  <label for="{{form.group.field.widget.attrs.id}}" class="form-label">Group</label>
                </div>
              </div>
              <div class="col-md-4 mb-2">
                <div class="form-outline">
                  {{ form.unit }}
                  <label for="{{form.unit.field.widget.attrs.id}}" class="form-label select-label">Unit</label>
                </div>
              </div>
              <div class="col-md-4 mb-2">
                <div class="form-outline">
                  {{ form.quantity }}
                  <label for="{{form.quantity.field.widget.attrs.id}}" class="form-label">Quantity</label>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 switchConnect mb-2">
                <div class="form-outline">
                  {{ form.about }}
                  <label for="{{form.about.field.widget.attrs.id}}" class="form-label">About</label>
                </div>
              </div>
            </div>

          </div>

        </div>

      </div>
      
      {% comment %} <div class="modal-footer shadow-5-strong d-flex justify-content-between" style="padding: 10px;box-shadow:none!important;">
        <a hx-get="/sale/quotation_add/i_{{inquiry.id}}" hx-target="#addFormBlock-left-{{elementTag}}" class="tableTopButtons inTableButtons"><i class="fa-solid fa-file-invoice-dollar" data-mdb-toggle="tooltip" data-mdb-placement="right" title="Create Quotation"></i></a>
     
      </div> {% endcomment %}
      
  </form>
</div>










<script>
  var elementTag = "{{elementTag}}";
  var elementTagSub = "{{elementTagSub}}";
  var elementTagId = "{{elementTagId}}";
  var serviceCardId = "{{serviceCard.id}}";
  var pageUrl = "/data/service_card_update/{{elementTagId}}/"


</script>

{% block javascript %}

<script src="{% static 'js/data/service_card/detail.js' %}"></script>

{% endblock javascript %}

