{% load static %}

<li class="nav-item" role="presentation" id="navTag-{{elementTag}}-new" style="display:none;">
  <a class="nav-link mainNavLinkSub-{{elementTag}} position-relative border border-1 rounded-0 border-secondary-subtle" id="navTagLink-{{elementTag}}-new" data-mdb-pill-init data-mdb-toggle="tab" href="#tabPane-{{elementTag}}-new" role="tab" aria-controls="tabPane-{{elementTag}}-new" aria-selected="true" style="font-size:9px;padding:10px 25px 10px 25px;margin: 0px!important;">
      New Department
      <button class="btn btn-tertiary position-absolute top-20 translate-middle badge p-1" href="#" id="removeNav-{{elementTag}}-new" style="margin-left: 12%;">
          <i class="fa-solid fa-xmark" style="font-size:0.75rem;"></i>
      </button>
  </a>
</li>

<div class="tab-pane mainTabPaneSub-{{elementTag}} fade" id="tabPane-{{elementTag}}-new" role="tabpanel" aria-labelledby="navTagLink-{{elementTag}}-new">
  <form hx-post="{% url 'hr:department_add' %}" class="modal-content form-container border border mainAddForm needs-validation" id="form-{{elementTag}}-new" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.media }}
    <div class="modal-header border-2 border-bottom" style="box-shadow:none!important;background-color: #c9c9c9;">
      <button class="tableTopButtons inTableButtons" type="submit" name="saveButton">
        <img src="/static/images/icons/flaticon/{{user.profile.theme}}/diskette.svg" alt="" style="height: 18px;">
      </button>
      <button class="tableTopButtons inTableButtons" type="submit" name="saveButton">
        <img src="/static/images/icons/flaticon/{{user.profile.theme}}/trash_bin.svg" alt="" style="height: 18px;">
      </button>
      <button class="tableTopButtons inTableButtons" type="submit" name="saveButton">
        <img src="/static/images/icons/datatable/sync.svg" alt="" style="height: 18px;">
      </button>
      <button class="tableTopButtons inTableButtons" type="submit" name="saveButton">
        <img src="/static/images/icons/datatable/printer.svg" alt="" style="height: 18px;">
      </button>
      <!-- <button class="tableTopButtons inTableButtons" type="submit" name="saveButton"><i class="fa-solid fa-floppy-disk" data-mdb-toggle="tooltip" data-mdb-placement="right" title="Save"></i></button> -->
      <div class="me-auto" id="message-container-{{elementTag}}-{{elementTagId}}"></div>
    </div>

      <div class="modal-body p-2" style="box-shadow:none;">

        <!-- Tabs navs -->
        <!-- <ul class="nav nav-pills mb-3 ms-2" id="nav-{{elementTag}}-{{elementTagId}}-add" role="tablist">
          <li class="nav-item" role="presentation" id="navTag-{{elementTag}}-{{elementTagId}}-add-1">
            <a class="nav-link active border border-1 rounded-0 border-secondary-subtle" id="navTagLink-{{elementTag}}-{{elementTagId}}-add-1" data-mdb-pill-init data-mdb-toggle="tab" href="#tabPane-{{elementTag}}-{{elementTagId}}-add-1" role="tab" aria-controls="tabPane-{{elementTag}}-{{elementTagId}}-add-1" aria-selected="true">
                Info
            </a>
          </li>
        </ul> -->
        <!-- Tabs navs -->

        <!-- Tabs content -->
        <div class="tab-content" id="tab-{{elementTag}}-{{elementTagId}}-add">

          <div class="tab-pane fade show active" id="tabPane-{{elementTag}}-add-1" role="tabpanel" aria-labelledby="navTagLink-{{elementTag}}-add-1">

            <div class="col-md-12">
              <div class="row mb-3">

                <div class="col-md-12">
                  <div class="row mb-2">
                    <div class="col-md-12">
                      <div class="form-outline">
                        {{form.name}}
                        <label for="selectFormOutline" class="form-label">Name</label>
                      </div>
                    </div>
                  </div>
  
                  <div class="row mb-2">
                    <div class="col-md-12">
                      <div class="form-outline">
                        {{form.about}}
                        <label for="selectFormOutline" class="form-label">About</label>
                      </div>
                    </div>
                  </div>
  
                </div>

            </div>
            </div>

          </div>

        </div>
        <!-- Tabs content -->

      </div>

      
  </form>
</div>

<script>
  var elementTag = "{{elementTag}}";
  var elementTagSub = "{{elementTagSub}}";
  var elementTagId = "new";
  var pageUrl = "/hr/department_add/";
  var sessionKey = "{{sessionKey}}";
  var user = "{{user.id}}";


  $(".addClose-{{elementTag}}").click(function() {
    document.getElementById("addFormBlock-{{elementTag}}").innerHTML = "";
    $("#table-{{elementTag}}").DataTable().ajax.reload(function(){
      htmx.process('#table-{{elementTag}}');
    },false);
  });
</script>

{% block javascript %}

<script src="{% static 'js/hr/department/add.js' %}"></script>

{% endblock javascript %}