{% load static %}

<form method="post" action="/order_tracking_add/po_{{purchaseOrder.id}}/" class="modal-content form-container border" id="form-{{elementTag}}-{{elementTagId}}-add-2" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="modal-header">
        <h5 class="modal-title">Create order tracking?</h5>
    </div>
    <div class="modal-footer shadow-5-strong" style="padding: 10px;">
        <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cancel</button>
        <button class="btn btn-danger" type="submit">Create</button>
    </div>
</form>

<script>
    var elementTag = "{{elementTag}}";
    var elementTagSub = "{{elementTagSub}}";
    var elementTagId = "{{elementTagId}}";
    var purchaseOrderId = "{{purchaseOrder.id}}";
    var sessionKey = "{{sessionKey}}";
    var pageUrl = "/sale/order_tracking_add/po_{{purchaseOrder.id}}/";
    var user = "{{user.id}}";

    $("#form-{{elementTag}}-{{elementTagId}}-add-2").submit(function (event) {
        //spinner başlatır
        $("body").busyLoad("show", {
            animation: false,
            spinner: "pulsar",
            maxSize: "150px",
            minSize: "150px",
            text: "Loading ...",
            background: "rgba(69, 83, 89, 0.6)",
            color: "#455359",
            textColor: "#fff"
        });
        event.preventDefault();

        var formData = $(this).serializeArray();
    
        $.ajax({
            type: "POST",
            url: "/sale/order_tracking_add/po_{{purchaseOrder.id}}/",  // Formunuzun işleneceği view'ın URL'si
            data: formData,
            success: function (response, status, xhr) {
                // Başarılı yanıt geldiğinde mesajı görüntüleyin
                if (xhr.status === 204) {
                    setTimeout(function() {
                    
                        let navTagSub = $("#navTag-{{elementTag}}-{{elementTagId}}");
                        let tabPaneSub = $("#tabPane-{{elementTag}}-{{elementTagId}}");
                    
                        navTagSub.prev().children("a").addClass("active");
                        
                        navTagSub.prev().children("a").children("button").show();
                        $("#table-{{elementTag}}").DataTable().columns.adjust();
                        
                        navTagSub.remove();
                        tabPaneSub.remove();

                        addUpdateDataModal.hide();

                        if($("#navTag-orderTracking").length > 0){
                            $("#navTagLink-purchaseOrder").removeClass("active");
                            $("#tabPane-purchaseOrder").removeClass("active show");
                            $("#navTagLink-orderTracking").addClass("active");
                            $("#tabPane-orderTracking").addClass("active show");

                            fetch('/sale/api/order_trackings?ordering=-id&sessionKey={{sessionKey}}&user={{user.id}}&project__id={{purchaseOrder.0.project.id}}&format=datatables', {method : "GET"})
                            .then((response) => {
                                return response.json();
                            })
                            .then((data) => {
                                htmx.ajax("GET", "/sale/order_tracking_update/" + data["data"][0]["id"] + "/", {target:"#tabContSub-{{elementTag}}", swap:"afterbegin"});
                                window.history.pushState({}, '', "/sale/order_tracking_update/" + data["data"][0]["id"] + "/");
                            });
                        }else{
                            htmx.ajax("GET", "/sale/order_tracking_data", {target:"#tabCont", swap:"afterbegin"});
                            setNavTabOrderTracking();
                            fetch('/sale/api/order_trackings?ordering=-id&sessionKey={{sessionKey}}&user={{user.id}}&project__id={{purchaseOrder.0.project.id}}&format=datatables', {method : "GET"})
                            .then((response) => {
                                return response.json();
                            })
                            .then((data) => {
                                htmx.ajax("GET", "/sale/order_tracking_update/" + data["data"][0]["id"] + "/", {target:"#tabContSub-{{elementTag}}", swap:"afterbegin"});
                                window.history.pushState({}, '', "/sale/order_tracking_update/" + data["data"][0]["id"] + "/");
                            });
                        };
                
                    setTimeout(function() {
                        $("body").busyLoad("hide", {
                        animation: "fade"
                        });
                    }, 500);
                
                    }, 500);
                    $("#message-container-{{elementTag}}-{{elementTagId}}-add-2").html('<div id="message-container-inside-{{elementTag}}-{{elementTagId}}-add-2"><i class="fas fa-check-circle me-1"></i>Saved!</div>');
                    // Mesajı belirli bir süre sonra gizle
                    setTimeout(function() {
                    $("#message-container-inside-{{elementTag}}-{{elementTagId}}-add-2").fadeOut("slow");
                    }, 500); // 3000 milisaniye (3 saniye) sonra mesaj kaybolacak
                }
            },
            error: function (xhr, status, error) {
                //spinner durdurur
                $("body").busyLoad("hide", {
                    animation: "fade"
                });
                // Hata durumunda mesajı görüntüleyin
                $("#message-container-{{elementTag}}-{{elementTagId}}-add-2").html('<div id="message-container-inside-{{elementTag}}-{{elementTagId}}-add-2"><i class="fas fa-xmark-circle me-1"></i>At least one part must be selected!</div>');
            }
        });
      
  
      
  
    });

</script>

{% block javascript %}


<script src="{% static 'js/sale/order_tracking/add.js' %}"></script>

{% endblock javascript %}