{% load static %}
{% include 'includes/control/htmx_control.html' %}

<li class="nav-item" role="presentation" id="navTag-{{elementTag}}-{{elementTagId}}" style="display:none;">
    <a class="nav-link mainNavLinkSub-{{elementTag}} position-relative border border-1 rounded-0 border-secondary-subtle text-truncate" id="navTagLink-{{elementTag}}-{{elementTagId}}" data-mdb-pill-init data-mdb-toggle="tab" href="#tabPane-{{elementTag}}-{{elementTagId}}" role="tab" aria-controls="tabPane-{{elementTag}}-{{elementTagId}}" aria-selected="true" style="font-size:9px;padding:10px 25px 10px 25px;margin: 0px!important;"> 

      {{vessel.name}}
      <button class="btn btn-tertiary position-absolute top-20 translate-middle badge p-1" href="#" id="removeNav-{{elementTag}}-{{elementTagId}}" style="margin-left: 15%;">
        <i class="fa-solid fa-xmark" style="font-size:0.75rem;"></i>
      </button>
      <!-- <div style="display: flex;justify-content: end;">
        <button class="btn btn-tertiary closeTabButton" href="#" id="removeNav-{{elementTag}}-{{elementTagId}}">
          <i class="fa-solid fa-xmark" style="font-size:0.75rem;"></i>
        </button>
      </div> -->
  </a>
</li>

<div class="tab-pane mainTabPaneSub-{{elementTag}} fade" id="tabPane-{{elementTag}}-{{elementTagId}}" role="tabpanel" aria-labelledby="navTagLink-{{elementTag}}-{{elementTagId}}">
  <form hx-post="{{ request.path }}" class="modal-content form-container border border mainAddForm" id="form-{{elementTag}}-{{elementTagId}}" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.media }}
    <div class="modal-header border-2 border-bottom" style="box-shadow:none!important;background-color: #c9c9c9;">
      <button class="tableTopButtons inTableButtons" type="submit" name="saveButton">
        <img src="/static/images/icons/flaticon/{{user.profile.theme}}/diskette.svg" alt="" style="height: 18px;">
      </button>
      <button class="tableTopButtons inTableButtons" type="submit" name="saveButton">
        <img src="/static/images/icons/flaticon/{{user.profile.theme}}/trash_bin.svg" alt="" style="height: 18px;">
      </button>
      <button class="tableTopButtons inTableButtons" type="submit" name="saveButton">
        <img src="/static/images/icons/datatable/printer.svg" alt="" style="height: 18px;">
      </button>
      <div class="me-auto" id="message-container-{{elementTag}}-{{elementTagId}}"></div>
      
    </div>

    <div class="modal-body p-2" style="box-shadow:none;">
      <div class="row">

        <div class="col-md-12">
          <div class="row">
            <div class="col-md-3">
              <div class="form-outline">
                {{form.name}}
                <label for="{{form.name.field.widget.attrs.id}}" class="form-label">Name</label>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-outline">
                <div class="input-group input-group-sm">
                  <button class="input-group-text" id="inputGroup-sizing-sm" disabled>Get Data With IMO</button>
                  <label for="textFormOutline" class="form-label border border-1 w-100 rounded-2" aria-describedby="inputGroup-sizing-sm">{{ form.imo }}</label>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-outline">
                {{form.company}}
                <label for="{{form.company.field.widget.attrs.id}}" class="form-label select-label">Company</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 mb-2">
              <div class="row">
                <div class="col-md-3 mb-2">
                  <div class="form-outline">
                    {{form.loa}}
                    <label for="{{form.loa.field.widget.attrs.id}}" class="form-label">LOA</label>
                  </div>
                </div>
              <div class="col-md-3 mb-2">
                <div class="form-outline">
                  {{form.mmsi}}
                  <label for="{{form.mmsi.field.widget.attrs.id}}" class="form-label">MMSI</label>
                </div>
              </div>
              <div class="col-md-3 mb-2">
                <div class="form-outline">
                  {{form.beam}}
                  <label for="{{form.beam.field.widget.attrs.id}}" class="form-label">Beam</label>
                </div>
              </div>
              <div class="col-md-3 mb-2">
                <div class="form-outline">
                  {{form.draught}}
                  <label for="{{form.draught.field.widget.attrs.id}}" class="form-label">Draught</label>
                </div>
              </div>
              </div>
              <div class="row">
                <div class="col-md-3 mb-2">
                  <div class="form-outline">
                    {{form.callSign}}
                    <label for="{{form.callSign.field.widget.attrs.id}}" class="form-label">Call Sign</label>
                  </div>
                </div>
                <div class="col-md-3 mb-2">
                  <div class="form-outline">
                    {{form.flag}}
                    <label for="{{form.flag.field.widget.attrs.id}}" class="form-label">Flag</label>
                  </div>
                </div>
                <div class="col-md-3 mb-2">
                  <div class="form-outline">
                    {{form.shipyard}}
                    <label for="{{form.shipyard.field.widget.attrs.id}}" class="form-label">Builder</label>
                  </div>
                </div>
                <div class="col-md-3 mb-2">
                  <div class="form-outline">
                    {{form.hallNo}}
                    <label for="{{form.hallNo.field.widget.attrs.id}}" class="form-label">Hull No</label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3 mb-2">
                  <div class="form-outline">
                    {{form.type}}
                    <label for="{{form.type.field.widget.attrs.id}}" class="form-label select-label">Type</label>
                  </div>
                </div>
                <div class="col-md-1 mb-2">
                  <div class="form-outline">
                    {{form.building}}
                    <label for="{{form.building.field.widget.attrs.id}}" class="form-label">Build Year</label>
                  </div>
                </div>
                <div class="col-md-1 mb-2">
                  <div class="form-outline">
                    {{form.grosston}}
                    <label for="{{form.grosston.field.widget.attrs.id}}" class="form-label">Gross Ton</label>
                  </div>
                </div>
                <div class="col-md-1 mb-2">
                  <div class="form-outline">
                    {{form.deadWeight}}
                    <label for="{{form.deadWeight.field.widget.attrs.id}}" class="form-label">Dead Weight</label>
                  </div>
                </div>
                <div class="col-md-6 mb-2">
                  <div class="form-outline">
                    {{form.classificationSociety}}
                    <label for="{{form.classificationSociety.field.widget.attrs.id}}" class="form-label">Classification Society</label>
                  </div>
                </div>
              </div>
            </div>
          </div>    
          
          <div class="row">

            <!-- Tab Navs -->
            <ul class="nav nav-pills ms-3" id="nav-{{elementTag}}-{{elementTagId}}-add" role="tablist">
              <li class="nav-item" role="presentation" id="navTag-{{elementTag}}-{{elementTagId}}-add-1">
                <a class="nav-link border border-1 rounded-0 border-secondary-subtle  mainNavLinkSubDetail-{{elementTag}} active m-0" data-mdb-pill-init
                  id="navTagLink-{{elementTag}}-{{elementTagId}}-add-1" data-mdb-toggle="tab"
                  href="#tabPane-{{elementTag}}-{{elementTagId}}-add-1" role="tab"
                  aria-controls="tabPane-{{elementTag}}-{{elementTagId}}-add-1" aria-selected="true">
                  Owner
                </a>
              </li>
              <li class="nav-item" role="presentation" id="navTag-{{elementTag}}-{{elementTagId}}-add-2">
                <a class="nav-link border border-1 rounded-0 border-secondary-subtle  mainNavLinkSubDetail-{{elementTag}} m-0" data-mdb-pill-init
                  id="navTagLink-{{elementTag}}-{{elementTagId}}-add-2" data-mdb-toggle="tab"
                  href="#tabPane-{{elementTag}}-{{elementTagId}}-add-2" role="tab"
                  aria-controls="tabPane-{{elementTag}}-{{elementTagId}}-add-2" aria-selected="true">
                  Billing
                </a>
              </li>
              <li class="nav-item" role="presentation" id="navTag-{{elementTag}}-{{elementTagId}}-add-3">
                <a class="nav-link border border-1 rounded-0 border-secondary-subtle  mainNavLinkSubDetail-{{elementTag}} m-0" data-mdb-pill-init
                  id="navTagLink-{{elementTag}}-{{elementTagId}}-add-3" data-mdb-toggle="tab"
                  href="#tabPane-{{elementTag}}-{{elementTagId}}-add-3" role="tab"
                  aria-controls="tabPane-{{elementTag}}-{{elementTagId}}-add-3" aria-selected="true">
                  P.I.C
                </a>
              </li>
              <li class="nav-item" role="presentation" id="navTag-{{elementTag}}-{{elementTagId}}-add-4">
                <a class="nav-link border border-1 rounded-0 border-secondary-subtle  mainNavLinkSubDetail-{{elementTag}} m-0" data-mdb-pill-init
                  id="navTagLink-{{elementTag}}-{{elementTagId}}-add-4" data-mdb-toggle="tab"
                  href="#tabPane-{{elementTag}}-{{elementTagId}}-add-4" role="tab"
                  aria-controls="tabPane-{{elementTag}}-{{elementTagId}}-add-4" aria-selected="true">
                  Equipments
                </a>
              </li>
              <li class="nav-item" role="presentation" id="navTag-{{elementTag}}-{{elementTagId}}-add-5">
                <a class="nav-link border border-1 rounded-0 border-secondary-subtle  mainNavLinkSubDetail-{{elementTag}} m-0" data-mdb-pill-init
                  id="navTagLink-{{elementTag}}-{{elementTagId}}-add-5" data-mdb-toggle="tab"
                  href="#tabPane-{{elementTag}}-{{elementTagId}}-add-5" role="tab"
                  aria-controls="tabPane-{{elementTag}}-{{elementTagId}}-add-5" aria-selected="true">
                  Company History
                </a>
              </li>
            </ul>
            <!-- Tab Navs -->

            <!-- Tabs Content -->
            <div class="tab-content" id="tab-{{elementTag}}-{{elementTagId}}-add">

              <div class="tab-pane mainTabPaneSubDetail-{{elementTag}} fade show active" id="tabPane-{{elementTag}}-{{elementTagId}}-add-1" role="tabpanel" aria-labelledby="navTagLink-{{elementTag}}-{{elementTagId}}-add-1">
                
                <div class="col-md-12">
                  <div class="row mb-4">
                    <div class="col-md-12">
                      
                      <div id="addFormBlock-inform-d-justDetail-{{elementTagSub}}-{{elementTagId}}-owner" hx-target="this" class="row mb-1 mt-2 addForm-inform-d-justDetail-{{elementTagSub}}-{{elementTagId}}-owner">
            
                      </div>
          
                      <div class="row mb-1 tableBox-inform-{{elementTagSub}}-{{elementTagId}}-owner">
                        <table id="table-{{elementTagSub}}-{{elementTagId}}-owner" class="table table-striped table-hover table-bordered dataTable no-footer" style="width:100%">
                          <thead>
                              <tr>
                                  <th><input class="form-check-input" type="checkbox" value="" id="select-all-{{elementTagSub}}-{{elementTagId}}" name="owners" style="position:relative;margin-top:.19em;margin-left:0.4em;width:0.875rem;height:0.875rem;border-width:1px;"></th>
                                  <th></th>
                                  <th>ID</th>
                                  <th>Owner</th>
                                  <th>Country</th>
                                  <th>City</th>
                              </tr>
                          </thead>
                          <tbody id="tbody">
                                  
                          </tbody>
                          <tfoot>
                              <tr>
                                <th><input class="form-check-input" type="checkbox" value="" id="select-all-{{elementTagSub}}-{{elementTagId}}" name="owners" style="position:relative;margin-top:.19em;margin-left:0.4em;width:0.875rem;height:0.875rem;border-width:1px;"></th>
                                <th></th>
                                <th>ID</th>
                                <th>Owner</th>
                                <th>Country</th>
                                <th>City</th>
                              </tr>
                          </tfoot>
                        </table>
                      </div>
                      
                    </div>
                </div>
                </div>
  
              </div>

              <div class="tab-pane mainTabPaneSubDetail-{{elementTag}} fade" id="tabPane-{{elementTag}}-{{elementTagId}}-add-2" role="tabpanel" aria-labelledby="navTagLink-{{elementTag}}-{{elementTagId}}-add-2">
                
                <div id="addFormBlock-inform-d-justDetail-{{elementTagSub}}-{{elementTagId}}-billing" hx-target="this" class="row mb-1 addForm-inform-d-justDetail-{{elementTagSub}}-{{elementTagId}}">
                
                </div>
                
                <div class="col-md-12">
                  <div class="row mb-4">
                    <div class="col-md-12">
                      
                      <div id="addFormBlock-inform-d-justDetail-{{elementTagSub}}-{{elementTagId}}-billing" hx-target="this" class="row mb-1 addForm-inform-d-justDetail-{{elementTagSub}}-{{elementTagId}}-billing">
            
                      </div>
          
                      <div class="row mb-1 tableBox-inform-{{elementTagSub}}-{{elementTagId}}-billing">
                        <table id="table-{{elementTagSub}}-{{elementTagId}}-billing" class="table table-striped table-hover table-bordered dataTable no-footer" style="width:100%">
                          <thead>
                              <tr>
                                  <th><input class="form-check-input" type="checkbox" value="" id="select-all-{{elementTagSub}}-{{elementTagId}}" name="billings" style="position:relative;margin-top:.19em;margin-left:0.4em;width:0.875rem;height:0.875rem;border-width:1px;"></th>
                                  <th></th>
                                  <th>ID</th>
                                  <th>Billing Name</th>
                                  <th>Address</th>
                              </tr>
                          </thead>
                          <tbody id="tbody">
                                  
                          </tbody>
                          <tfoot>
                              <tr>
                                <th><input class="form-check-input" type="checkbox" value="" id="select-all-{{elementTagSub}}-{{elementTagId}}" name="billings" style="position:relative;margin-top:.19em;margin-left:0.4em;width:0.875rem;height:0.875rem;border-width:1px;"></th>
                                <th></th>
                                <th>ID</th>
                                <th>Billing Name</th>
                                <th>Address</th>
                              </tr>
                          </tfoot>
                        </table>
                      </div>
                      
                    </div>
                    
                  </div>
                </div>
                
  
              </div>

              <div class="tab-pane mainTabPaneSubDetail-{{elementTag}} fade" id="tabPane-{{elementTag}}-{{elementTagId}}-add-3" role="tabpanel" aria-labelledby="navTagLink-{{elementTag}}-{{elementTagId}}-add-3">
                
                <div id="addFormBlock-inform-d-justDetail-{{elementTagSub}}-{{elementTagId}}" hx-target="this" class="row mb-1 addForm-inform-d-justDetail-{{elementTagSub}}-{{elementTagId}}">
                
                </div>
                
                <div class="col-md-12">
                  <div class="row mb-4">
                    <div class="col-md-12">

                      <div id="addFormBlock-inform-d-justDetail-{{elementTagSub}}-{{elementTagId}}" hx-target="this" class="row mb-1 addForm-inform-d-justDetail-{{elementTagSub}}-{{elementTagId}}">
                          
                      </div>
                      
                      <div class="row mb-1 tableBox-inform-{{elementTagSub}}-{{elementTagId}}">
                        <table id="table-{{elementTagSub}}-{{elementTagId}}" class="table table-striped table-hover table-bordered dataTable no-footer" style="width:100%">
                          <thead>
                              <tr>
                                <th>ID</th>
                                <th>P.I.C. Name</th>
                                <th>Title</th>
                                <th>Email</th>
                                <th>Phone</th>
                              </tr>
                          </thead>
                          <tbody id="tbody">
                            
                          </tbody>
                          <tfoot>
                              <tr>
                                  <th>ID</th>
                                  <th>P.I.C. Name</th>
                                  <th>Title</th>
                                  <th>Email</th>
                                  <th>Phone</th>
                              </tr>
                          </tfoot>
                        </table>
                      </div>
                    </div>
    
                  </div>
                </div>
  
              </div>
  
              <div class="tab-pane mainTabPaneSubDetail-{{elementTag}} fade" id="tabPane-{{elementTag}}-{{elementTagId}}-add-4" role="tabpanel" aria-labelledby="navTagLink-{{elementTag}}-{{elementTagId}}-add-4">

                
                <div class="col-md-12">
                  <div class="row mb-4">
                    <div class="col-md-12">
                      
                      <div id="addFormBlock-inform-d-justDetail-{{elementTagSub}}-{{elementTagId}}-enginePart" hx-target="this" class="row mb-1 mt-2 addForm-inform-d-justDetail-{{elementTagSub}}-{{elementTagId}}-enginePart">
            
                      </div>
          
                      <div class="row mb-1 tableBox-inform-{{elementTagSub}}-{{elementTagId}}-enginePart">
                        <table id="table-{{elementTagSub}}-{{elementTagId}}-enginePart" class="table table-striped table-hover table-bordered dataTable no-footer" style="width:100%">
                          <thead>
                              <tr>
                                  <th><input class="form-check-input" type="checkbox" value="" id="select-all-{{elementTagSub}}-{{elementTagId}}" name="engineParts" style="position:relative;margin-top:.19em;margin-left:0.4em;width:0.875rem;height:0.875rem;border-width:1px;"></th>
                                  <th></th>
                                  <th>ID</th>
                                  <th>Maker</th>
                                  <th>Type</th>
                                  <th>Category</th>
                                  <th>Serial No</th>
                                  <th>Cyl</th>
                                  <th>Description</th>
                                  <th>Version</th>
                              </tr>
                          </thead>
                          <tbody id="tbody">
                                  
                          </tbody>
                          <tfoot>
                              <tr>
                                <th><input class="form-check-input" type="checkbox" value="" id="select-all-{{elementTagSub}}-{{elementTagId}}" name="engineParts" style="position:relative;margin-top:.19em;margin-left:0.4em;width:0.875rem;height:0.875rem;border-width:1px;"></th>
                                <th></th>
                                <th>ID</th>
                                <th>Maker</th>
                                <th>Type</th>
                                <th>Category</th>
                                <th>Serial No</th>
                                <th>Cyl</th>
                                <th>Description</th>
                                <th>Version</th>
                              </tr>
                          </tfoot>
                        </table>
                      </div>
                      
                    </div>
                  
                </div>
                </div>
                
  
              </div>
              
              <div class="tab-pane mainTabPaneSubDetail-{{elementTag}} fade" id="tabPane-{{elementTag}}-{{elementTagId}}-add-5" role="tabpanel" aria-labelledby="navTagLink-{{elementTag}}-{{elementTagId}}-add-5">
                
                <div id="addFormBlock-inform-d-justDetail-{{elementTagSub}}-{{elementTagId}}-enginePart" hx-target="this" class="row mb-1 addForm-inform-d-justDetail-{{elementTagSub}}-{{elementTagId}}">
                
                </div>
                
                <div class="col-md-12">
                  <div class="row mb-4">
                    <div class="col-md-12">
                      
                      <div id="addFormBlock-inform-d-justDetail-{{elementTagSub}}-{{elementTagId}}-companyHistory" hx-target="this" class="row mb-1 addForm-inform-d-justDetail-{{elementTagSub}}-{{elementTagId}}-companyHistory">
            
                      </div>
          
                      <div class="row mb-1 tableBox-inform-{{elementTagSub}}-{{elementTagId}}-companyHistory">
                        <table id="table-{{elementTagSub}}-{{elementTagId}}-companyHistory" class="table table-striped table-hover table-bordered dataTable no-footer" style="width:100%">
                          <thead>
                              <tr>
                                  <th>Select</th>
                                  <th>Line</th>
                                  <th>Company</th>
                                  <th>Change Date</th>
                                  <th>Status</th>
                              </tr>
                          </thead>
                          <tbody id="tbody">

                          </tbody>
                        </table>
                      </div>
                      
                    </div>
                  
                </div>
                </div>
                
  
              </div>

            </div>
            <!-- Tabs Content -->

          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<script>
  var elementTag = "{{elementTag}}";
  var elementTagSub = "{{elementTagSub}}";
  var elementTagId = "{{elementTagId}}";
  var vesselId = "{{vessel.id}}";
  var pageUrl = "/card/vessel_update/{{elementTagId}}/"

  $("#navTagLink-{{elementTag}}-{{elementTagId}}-add-1").on("shown.bs.tab", function(e){
    $("#table-{{elementTagSub}}-{{elementTagId}}-owner").DataTable().columns.adjust();
  });

  $("#navTagLink-{{elementTag}}-{{elementTagId}}-add-2").on("shown.bs.tab", function(e){
    $("#table-{{elementTagSub}}-{{elementTagId}}-billing").DataTable().columns.adjust();
  });

  $("#navTagLink-{{elementTag}}-{{elementTagId}}-add-3").on("shown.bs.tab", function(e){
    $("#table-{{elementTagSub}}-{{elementTagId}}").DataTable().columns.adjust();
  });

  $("#navTagLink-{{elementTag}}-{{elementTagId}}-add-4").on("shown.bs.tab", function(e){
    $("#table-{{elementTagSub}}-{{elementTagId}}-enginePart").DataTable().columns.adjust();
  });

  $("#navTagLink-{{elementTag}}-{{elementTagId}}-add-5").on("shown.bs.tab", function(e){
    $("#table-{{elementTagSub}}-{{elementTagId}}-companyHistory").DataTable().columns.adjust();
  });



</script>

{% block javascript %}

<script src="{% static 'js/card/vessel/detail.js' %}"></script>


{% endblock javascript %}

