{% load static %}

<!-- Due Project -->
<div class="col-md-6 projectWidget">
    <div class="row">
        <div class="col-md-12">
            <div class="row border border-1 shadow-1 drag" style="overflow: scroll;">
                <div class="col-md-12" style="display: flex;justify-content: end;">
                    <button class="btn btn-tertiary p-2 removeProjectWidget">
                        <i class="fa-solid fa-xmark mt-2" style="font-size: 1rem;"></i>
                    </button>
                </div>
                <div class="col-md-12" style="height: 500px;">
                        <div class="row">
                            <div class="col-md-12 mt-3">
                                <div class="text-start fs-5 widgetHeader ms-2">Due Projects</div>
                            </div>
                            <div class="col-md-12 mt-4 p-0" style="max-height: 400px;overflow-x: auto;">
                                <table class="table table-striped table-hover dataTable no-footer">
                                    <thead>
                                        <tr style="background:#9d2235;">
                                            <th class="text-white">OFFER DATE</th>
                                            <th class="text-white">OFFER NO</th>
                                            <th class="text-white">CUSTOMER</th>
                                            <th class="text-white">PERIOD</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for offer in offers %}
                                            <tr>
                                                <td><i class="fa-solid fa-calendar-days me-2" style="color: #c01c28;font-size: medium;"></i>{{offer.offerDate|date:"d.m.Y"}}</td>
                                                <td>{{offer.offerNo}}</td>
                                                <td class="text-truncate" style="max-width:180px;">{{offer.customer.name}}</td>
                                                <td>{{offer.period}}<i class="fa-solid fa-triangle-exclamation fs-3 ms-2" style="color: #c45058;"></i></td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Due Project -->