{% load static %}

<!-- Fuar Takvimi -->
<div class="col-md-3 expoWidget">
    <div class="row">
        <div class="col-md-12">
            <div class="row border border-1 shadow-1 drag" style="overflow: scroll;">
                <div class="col-md-12" style="display: flex;justify-content: end;">
                    <button class="btn btn-tertiary p-2 removeExpoWidget">
                        <i class="fa-solid fa-xmark mt-2" style="font-size: 1rem;"></i>
                    </button>
                </div>
                <div class="col-md-12" style="height: 500px;">
                        <div class="row">
                            <div class="col-md-12 mt-3">
                                <div class="text-start fs-5 widgetHeader ms-2">Expo Calendar</div>
                            </div>
                            <div class="col-md-12 mt-4 p-0" style="max-height: 400px;overflow-x: auto;">
                                <table class="table table-striped table-hover dataTable no-footer">
                                    <thead>
                                        <tr style="background:#9d2235;">
                                            <th class="text-white">EXPO VENUE</th>
                                            <th class="text-white">EXPO NAME</th>
                                            <th class="text-white">EXPO DATE</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><i class="fa-solid fa-location-dot me-2" style="color: #c01c28;font-size: medium;"></i>Poly World Trade Center, Guangzhou, Çin</td>
                                            <td>INMEX China</td>
                                            <td><i class="fa-solid fa-calendar-days me-2" style="color: #c01c28;font-size: medium;"></i>9 Aralık 2023 / 11 Aralık 2023</td>
                                        </tr>
                                        <tr>
                                            <td><i class="fa-solid fa-location-dot me-2" style="color: #c01c28;font-size: medium;"></i>Messe Wien, Viyana, Avusturya</td>
                                            <td>ICE International Charter Expo</td>
                                            <td><i class="fa-solid fa-calendar-days me-2" style="color: #c01c28;font-size: medium;"></i>6 Aralık 2023 / 8 Aralık 2023</td>
                                        </tr>
                                        <tr>
                                            <td><i class="fa-solid fa-location-dot me-2" style="color: #c01c28;font-size: medium;"></i>West Concourse, Florida, ABD, Orlando, A.B.D.</td>
                                            <td>Surf Expo Orlando</td>
                                            <td><i class="fa-solid fa-calendar-days me-2" style="color: #c01c28;font-size: medium;"></i>10 Ocak 2024 / 12 Ocak 2024</td>
                                        </tr>
                                        <tr>
                                            <td><i class="fa-solid fa-location-dot me-2" style="color: #c01c28;font-size: medium;"></i>Georgia World Congress Center, Atlanta, USA, Atlanta, A.B.D.</td>
                                            <td>Atlanta Boat Show</td>
                                            <td><i class="fa-solid fa-calendar-days me-2" style="color: #c01c28;font-size: medium;"></i>11 Ocak 2024 / 14 Ocak 2024</td>
                                        </tr>
                                        <tr>
                                            <td><i class="fa-solid fa-location-dot me-2" style="color: #c01c28;font-size: medium;"></i>Messe Düsseldorf, Düsseldorf, Almanya</td>
                                            <td>Boot Dusseldorf</td>
                                            <td><i class="fa-solid fa-calendar-days me-2" style="color: #c01c28;font-size: medium;"></i>20 Ocak 2024 / 28 Ocak 2024</td>
                                        </tr>
                                        <tr>
                                            <td><i class="fa-solid fa-location-dot me-2" style="color: #c01c28;font-size: medium;"></i> Royal Phuket Marina Exhibition Phuket, Tayland</td>
                                            <td>Thailand Yacht Show</td>
                                            <td><i class="fa-solid fa-calendar-days me-2" style="color: #c01c28;font-size: medium;"></i>7 Şubat 2024 / 10 Şubat 2024</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Fuar Takvimi -->