{% load static %}

<!-- Purchase Order -->
<div class="col-md-6 purchaseWidget">
    <div class="row">
        <div class="col-md-12">
            <div class="row border border-1 shadow-1 drag" style="overflow: scroll;">
                <div class="col-md-12" style="display: flex;justify-content: end;">
                    <button class="btn btn-tertiary p-2 removePurchaseWidget">
                        <i class="fa-solid fa-xmark mt-2" style="font-size: 1rem;"></i>
                    </button>
                </div>
                <div class="col-md-12" style="height: 500px;">
                        <div class="row">
                            <div class="col-md-12 mt-3">
                                <div class="text-start fs-5 widgetHeader ms-2">Purchase Order</div>
                            </div>
                            <div class="col-md-12 mt-4 p-0" style="max-height: 400px;overflow-x: auto;">
                                <table class="table table-striped table-hover dataTable no-footer">
                                    <thead>
                                        <tr style="background:#9d2235;">
                                            <th class="text-white">ORDER DUE DATE</th>
                                            <th class="text-white">SUPPLIER</th>
                                            <th class="text-white">PURCHASE NO</th>
                                            <th class="text-white">INQUIRY NO</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><i class="fa-solid fa-calendar-days me-2" style="color: #c01c28;font-size: medium;"></i>30.12.2023</td>
                                            <td>ESMS - Engineering Solutions & Marine Solutions</td>
                                            <td>ESO-023-00000001</td>
                                            <td>ESI-023-00000001</td>
                                        </tr>
                                        <tr>
                                            <td><i class="fa-solid fa-calendar-days me-2" style="color: #c01c28;font-size: medium;"></i>30.12.2023</td>
                                            <td>ESMS - Engineering Solutions & Marine Solutions</td>
                                            <td>ESO-023-00000001</td>
                                            <td>ESI-023-00000001</td>
                                        </tr>
                                        <tr>
                                            <td><i class="fa-solid fa-calendar-days me-2" style="color: #c01c28;font-size: medium;"></i>30.12.2023</td>
                                            <td>ESMS - Engineering Solutions & Marine Solutions</td>
                                            <td>ESO-023-00000001</td>
                                            <td>ESI-023-00000001</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Purchase Order -->