

<!-- Sidenav-->
<nav
  data-mdb-sidenav-init
  id="sidenav-4"
  class="sidenav"
  data-mdb-mode="side"
  data-mdb-slim="true"
  data-mdb-slim-collapsed="true"
  data-mdb-content="#slim-content"
>
  <ul class="sidenav-menu">
    <li class="sidenav-item">
      <a class="sidenav-link">
        <i class="far fa-smile me-3"></i
        ><span data-mdb-slim="false">Link 1</span></a
      >
    </li>
    <li class="sidenav-item">
      <a class="sidenav-link"
        ><i class="fas fa-grin me-3"></i
        ><span data-mdb-slim="false">Category 1</span></a
      >
      <ul class="sidenav-collapse">
        <li class="sidenav-item">
          <a class="sidenav-link">Link 2</a>
        </li>
        <li class="sidenav-item">
          <a class="sidenav-link">Link 3</a>
        </li>
      </ul>
    </li>
    <li class="sidenav-item">
      <a class="sidenav-link"
        ><i class="fas fa-grin-wink me-3"></i
        ><span data-mdb-slim="false">Category 2</span></a
      >
      <ul class="sidenav-collapse">
        <li class="sidenav-item">
          <a class="sidenav-link">Link 4</a>
        </li>
        <li class="sidenav-item">
          <a class="sidenav-link">Link 5</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
<!-- Sidenav-->


