{% include 'includes/control/htmx_control.html' %}
<form hx-post="{{ request.path }}" class="modal-content form-container border" id="form-{{elementTag}}-{{elementTagId}}-delete" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="modal-header">
        <h5 class="modal-title">Delete selected invoices?</h5>
    </div>
    <div class="modal-footer shadow-5-strong" style="padding: 10px;">
        <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cancel</button>
        <button class="btn btn-danger" type="submit" name="deleteMaker">Delete</button>
    </div>
</form>

<script>
    var elementTag = "{{elementTag}}";
    var elementTagSub = "{{elementTagSub}}";
    var elementTagId = "{{elementTagId}}";
    var pageUrl = "/account/send_invoice_delete/[{{elementTagId}}]&[SendInvoice]/"
    var sessionKey = "{{sessionKey}}";

    
    $("#form-" + elementTag +  "-" + elementTagId + "-delete").submit(function (event) {
        //spinner başlatır
        $("body").busyLoad("show", {
            animation: false,
            spinner: "pulsar",
            maxSize: "150px",
            minSize: "150px",
            text: "Loading ...",
            background: "rgba(69, 83, 89, 0.6)",
            color: "#455359",
            textColor: "#fff"
        });

        event.preventDefault();

        setTimeout(function() {
                        
            let eSub = elementTag +  "-" + elementTagId + "-delete";
            let removeNavSub = $("#removeNav-" + elementTag +  "-" + elementTagId);

            let navTagSub = $("#navTag-" + elementTag +  "-" + elementTagId);
            let tabPaneSub = $("#tabPane-" + elementTag +  "-" + elementTagId);
            let sideBarButtonSub = $(".nav-list li ." + elementTag +  "-" + elementTagId);

            navTagSub.prev().children("a").addClass("active");
            tabPaneSub.prev().addClass("show active");
            navTagSub.prev().children("a").children("button").show();
            $("#table-" + elementTag).DataTable().columns.adjust();
            navTagSub.remove();
            tabPaneSub.remove();
            sideBarButtonSub.attr("hx-swap", "afterbegin");

            $("#table-" + elementTag).DataTable().ajax.reload(function(){
                htmx.process("#table-" + elementTag);
            },false);
            
            setTimeout(function() {
                $("#table-orderInProcessA").DataTable().ajax.reload(function() {
                    htmx.process("#table-orderInProcessA"); //datatable serverside'dan yükleniyorsa htmx öğelerinin çalışmasını sağlar
                }, false);
                //spinner durdurur
                $("body").busyLoad("hide", {
                animation: "fade"
                });
            }, 1000);

        }, 2000);
    });
</script>

<script>
    {% comment %} $("body").busyLoad("show", {
        animation: false,
        spinner: "pulsar",
        maxSize: "150px",
        minSize: "150px",
        text: "Loading ...",
        background: "rgba(69, 83, 89, 0.6)",
        color: "#455359",
        textColor: "#fff"
    });

    let idList = []
    let typeList = []
    idList.push("{{elementTagId}}");
    htmx.ajax("GET", "/account/send_invoice_delete/" + idList + "&SendInvoice", "#addUpdateDataDialog");
    setTimeout(function() {
        $("#table-{{elementTag}}").DataTable().ajax.reload(function(){
            htmx.process('#table-{{elementTag}}');
        },false);

        $("#navTag-{{elementTag}}-{{elementTagId}}").prev().children("a").addClass("active");
        $("#tabPane-{{elementTag}}-{{elementTagId}}").prev().addClass("show active");
        $("#navTag-{{elementTag}}-{{elementTagId}}").prev().children("a").children("button").show();
        $("#table-{{elementTag}}").DataTable().columns.adjust();
        $("#navTag-{{elementTag}}-{{elementTagId}}").remove();
        $("#tabPane-{{elementTag}}-{{elementTagId}}").remove();
        $(".nav-list li .{{elementTag}}-{{elementTagId}}").attr("hx-swap", "afterbegin");

        setTimeout(function() {
            $("body").busyLoad("hide", {
            animation: "fade"
            });
        }, 1000);
    }, 1000); {% endcomment %}
</script>