
{% load static %}

{% block body %}
{% load crispy_forms_tags %}

<style>
    * html body{font-family: "Roboto", sans-serif!important;}
    
</style>

<li class="nav-item" role="presentation" id="navTag-{{elementTag}}" style="display:none;flex: 0 0 auto;">
    <a class="nav-link mainNavLink position-relative border border-1 rounded-0 border-secondary-subtle" id="navTagLink-{{elementTag}}" data-mdb-pill-init data-mdb-toggle="tab" href="#tabPane-{{elementTag}}" role="tab" aria-controls="tabPane-{{elementTag}}" aria-selected="true">
        <i class="fa-solid fa-comments me-2"></i>
        {{tag}}
        <button class="btn btn-tertiary position-absolute top-20 translate-middle badge p-1" href="#" id="removeNav-{{elementTag}}" style="margin-left: 15%;">
            <i class="fa-solid fa-xmark" style="font-size:0.75rem;"></i>
        </button>
    </a>
</li>

<div class="tab-pane mainTabPane fade" id="tabPane-{{elementTag}}" role="tabpanel" aria-labelledby="navTagLink-{{elementTag}}">

    <!-- Tabs navs Sub-->
    <ul class="nav nav-pills  sortable-list d-flex" style="background-color: #f1f2f7" id="tabNavSub-{{elementTag}}" data-mdb-sortable="sortable" role="tablist" style="margin-bottom: 0 !important;">
        <li class="nav-item" role="presentation" id="navTag-{{elementTag}}-table">
            <a class="nav-link mainNavLinkSub-{{elementTag}} active border border-1 rounded-0 border-secondary-subtle" id="navTagLink-{{elementTag}}-table" data-mdb-pill-init data-mdb-toggle="tab" href="#tabPane-{{elementTag}}-table" role="tab" aria-controls="tabPane-{{elementTag}}-table" aria-selected="true" style="font-size:9px;padding:10px 25px 10px 25px;margin: 0px!important;">
                Chat
            </a>
        </li>
    </ul>
    <!-- Tabs navs Sub-->

    <!-- Tabs content -->
    <div class="tab-content" id="tabContSub-{{elementTag}}" hx-target="this">

        <div class="tab-pane mainTabPaneSub-{{elementTag}} fade show active" id="tabPane-{{elementTag}}-table" role="tabpanel" aria-labelledby="navTagLink-{{elementTag}}-table">
                
            <div class="globalBoxes split">
                What chat room would you like to enter?<br>
                <input id="room-name-input" type="text" size="100"><br>
                <input id="room-name-submit" type="button" value="Enter">
            </div>

        </div>

        
    </div>
    <!-- Tabs content -->


</div>


<script>
    
    var elementTag = "{{elementTag}}";
    var elementTagSub = "{{elementTagSub}}";
    var elementTagId = "table";
    var pageUrl = "/chat/chat_data/"

    document.querySelector('#room-name-input').focus();
    document.querySelector('#room-name-input').onkeyup = function(e) {
        if (e.key === 'Enter') {  // enter, return
            document.querySelector('#room-name-submit').click();
        }
    };

    document.querySelector('#room-name-submit').onclick = function(e) {
        var roomName = document.querySelector('#room-name-input').value;
        htmx.ajax('GET', '/chat/' + roomName + '/', {target : "#tabContSub-{{elementTag}}", swap : "afterbegin", "push-url" : "true"});
        //window.location.pathname = '/chat/' + roomName + '/';
    };

    
</script>

{% endblock body %}

{% block javascript %}

<script src="{% static 'js/chat/chat/list.js' %}"></script>

{% endblock javascript %}

