<form hx-post="{{ request.path }}" class="modal-content form-container border" enctype="multipart/form-data" style="box-shadow:inset 0 0 0 9999px rgba(0, 0, 0, 0.05);border-radius:0;">
    {% csrf_token %}
    <div class="modal-header shadow-4" style="padding: 10px;box-shadow:none!important;">
      <h5></h5>
      <button type="button" class="btn-close noteAddClose" aria-label="Close"></button>
    </div>

    <div class="modal-body">
      <div class="row mb-1 switchConnect">
        <div class="col-md-12 switchConnect">
          <label for="exampleFormControlTextarea1" class="form-label">Title</label>
          {{ form.title }}
        </div>
      </div>

      <div class="row mb-2 switchConnect">
        <div class="col-md-12 switchConnect">
          <label for="exampleFormControlTextarea1" class="form-label">Text</label>
          {{ form.text }}
        </div>
      </div>

      <div class="row mb-1 switchConnect">
        <div class="d-grid gap-2">
          <button class="btn btn-dark btn-rounded" type="submit">Add</button>
        </div>
      </div>
      
    </div>
</form>

<script>
  $(".noteAddClose").click(function() {
    document.getElementById("addNoteFormBlock").innerHTML = "";
    $(".noteRow").show();
    $("#addNoteFormBlock").hide();
  });
</script>