{% load static %}

{% load widget_tweaks %}

<li class="nav-item" role="presentation" id="navTag-{{elementTag}}-new" style="display:none;">
  <a class="nav-link mainNavLinkSub-{{elementTag}} position-relative border border-1 rounded-0 border-secondary-subtle" id="navTagLink-{{elementTag}}-new" data-mdb-pill-init data-mdb-toggle="tab" href="#tabPane-{{elementTag}}-new" role="tab" aria-controls="tabPane-{{elementTag}}-new" aria-selected="true" style="font-size:9px;padding:10px 20px 10px 25px;max-width:150px;margin: 0px!important;">
      New User
      <button class="btn btn-tertiary position-absolute top-20 translate-middle badge p-1" href="#" id="removeNav-{{elementTag}}-new" style="margin-left: 12%;">
          <i class="fa-solid fa-xmark" style="font-size:0.75rem;"></i>
      </button>
  </a>
</li>

<div class="tab-pane mainTabPaneSub-{{elementTag}} fade" id="tabPane-{{elementTag}}-new" role="tabpanel" aria-labelledby="navTagLink-{{elementTag}}-new">
  <form hx-post="{% url 'hr:user_add' %}" class="modal-content form-container border border mainAddForm needs-validation" id="form-{{elementTag}}-new" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.media }}
    <div class="modal-header border-2 border-bottom" style="box-shadow:none!important;background-color: #c9c9c9;">
      <button class="tableTopButtons inTableButtons" type="submit" name="saveButton">
        <img src="/static/images/icons/flaticon/{{user.profile.theme}}/diskette.svg" alt="" style="height: 18px;">
      </button>
      <button class="tableTopButtons inTableButtons" type="submit" name="saveButton">
        <img src="/static/images/icons/flaticon/{{user.profile.theme}}/trash_bin.svg" alt="" style="height: 18px;">
      </button>
      <button class="tableTopButtons inTableButtons" type="submit" name="saveButton">
        <img src="/static/images/icons/datatable/sync.svg" alt="" style="height: 18px;">
      </button>
      <button class="tableTopButtons inTableButtons" type="submit" name="saveButton">
        <img src="/static/images/icons/datatable/printer.svg" alt="" style="height: 18px;">
      </button>
      <!-- <button class="tableTopButtons inTableButtons" type="submit" name="saveButton"><i class="fa-solid fa-floppy-disk" data-mdb-toggle="tooltip" data-mdb-placement="right" title="Save"></i></button> -->
      <div class="me-auto" id="message-container-{{elementTag}}-{{elementTagId}}"></div>
    </div>

      <div class="modal-body p-2" style="box-shadow:none;">

          <div class="col-md-12">
            <div class="row mb-3">

              <div class="col-md-2">

                <div class="row mb-3">
                  <div class="col-md-12">
                    <div class="card">
                      <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <div class="row">
                          <div class="col-md-12 d-flex justify-content-center">
                            <div class="file-upload-wrapper" style="background-color: #c9c9c9;">
                              {% if profile.image %}
                                {% render_field profileForm.image data-mdb-default-file=company.logo.url data-mdb-height="150" data-mdb-accepted-extensions="image/*" %}
                              {% else %}
                                {% render_field profileForm.image data-mdb-height="150" data-mdb-accepted-extensions="image/*" %}
                              {% endif %}
                            </div>
                          </div>
                        </div>
                      </div>
                    
                      <div class="card-body p-3 mt-3">
                        <div class="row mb-2">
                          <div class="col-md-12">
                            <div class="form-outline">
                              {{ userForm.username }}
                              <label for="selectFormOutline" class="form-label">Username</label>
                            </div>
                          </div>
                        </div>
        
                        <div class="row mb-2">
                          <div class="col-md-12">
                            <div class="form-outline">
                              {{ userForm.password }}
                              <label for="selectFormOutline" class="form-label">Password</label>
                            </div>
                          </div>
                        </div>
        
                        <div class="row mb-2">
                          <div class="col-md-12">
                            <div class="form-outline">
                              {{ userForm.confirm }}
                              <label for="selectFormOutline" class="form-label">Password Confirm</label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

              <div class="col-md-10">

                <div class="row">

                  <div class="col-md-4">

                    <div class="row mb-2">
                      <div class="col-md-12">
                        <div class="form-outline">
                          {{ userForm.first_name }}
                          <label for="selectFormOutline" class="form-label">First Name</label>
                        </div>
                      </div>
                    </div>

                    <div class="row mb-2">
                      <div class="col-md-12">
                        <div class="form-outline">
                          {{ userForm.last_name }}
                          <label for="selectFormOutline" class="form-label">Last Name</label>
                        </div>
                      </div>
                    </div>

                    <div class="row mb-2">
                      <div class="col-md-12">
                        <div class="form-outline">
                          {{ profileForm.gender }}
                          <label for="selectFormOutline" class="form-label select-label">Gender</label>
                        </div>
                      </div>
                    </div>

                    <div class="row mb-2">
                      <div class="col-md-12">
                        <div class="form-outline datepicker">
                          {{ profileForm.birthday }}
                          <label for="selectFormOutline" class="form-label">Birthday</label>
                        </div>
                      </div>
                    </div>

                    <div class="row mb-2">
                      <div class="col-md-12">
                        <div class="form-outline">
                          {{ userForm.email }}
                          <label for="selectFormOutline" class="form-label">Email</label>
                        </div>
                      </div>
                    </div>

                    <div class="row mb-2">
                      <div class="col-md-12">
                        <div class="form-outline">
                          {{ profileForm.phone }}
                          <label for="selectFormOutline" class="form-label">Phone</label>
                        </div>
                      </div>
                    </div>

                    <div class="row mb-2">
                      <div class="col-md-12">
                        <div class="form-outline">
                          {{ profileForm.address }}
                          <label for="selectFormOutline" class="form-label">Address</label>
                        </div>
                      </div>
                    </div>

                  </div>

                  <div class="col-md-4">

                    <div class="row mb-2">
                      <div class="col-md-12">
                        <div class="form-outline">
                          {{ profileForm.registrationNo }}
                          <label for="selectFormOutline" class="form-label">Registration No</label>
                        </div>
                      </div>
                    </div>

                    <div class="row mb-2">
                      <div class="col-md-12">
                        <div class="form-outline">
                          {{ profileForm.identificationNo }}
                          <label for="selectFormOutline" class="form-label">Identification No(TC)</label>
                        </div>
                      </div>
                    </div>

                    <div class="row mb-2">
                      <div class="col-md-12">
                        <div class="form-outline">
                          {{ profileForm.motherName }}
                          <label for="selectFormOutline" class="form-label">Mother Name</label>
                        </div>
                      </div>
                    </div>

                    <div class="row mb-2">
                      <div class="col-md-12">
                        <div class="form-outline">
                          {{ profileForm.fatherName }}
                          <label for="selectFormOutline" class="form-label">Father Name</label>
                        </div>
                      </div>
                    </div>

                    <div class="row mb-2">
                      <div class="col-md-12">
                        <div class="form-outline">
                          {{ profileForm.drivingLicence }}
                          <label for="selectFormOutline" class="form-label">Driving Licence</label>
                        </div>
                      </div>
                    </div>

                    <div class="row mb-2">
                      <div class="col-md-12">
                        <div class="form-outline">
                          {{ profileForm.militaryStatus }}
                          <label for="selectFormOutline" class="form-label select-label">Military Status</label>
                        </div>
                      </div>
                    </div>

                    <div class="row mb-2">
                      <div class="col-md-12">
                        <div class="form-outline datepicker">
                          {{ profileForm.militaryPostponedDate }}
                          <label for="selectFormOutline" class="form-label">Military Postponed Date</label>
                        </div>
                      </div>
                    </div>

                  </div>

                  <div class="col-md-4">

                    <div class="row mb-2">
                      <div class="col-md-12">
                        <div class="form-outline">
                          {{ profileForm.socialSecurityNo }}
                          <label for="selectFormOutline" class="form-label">Social Security No(SGK)</label>
                        </div>
                      </div>
                    </div>

                    <div class="row mb-2">
                      <div class="col-md-12">
                        <div class="form-outline">
                          {{ profileForm.criminalRegistrationNo }}
                          <label for="selectFormOutline" class="form-label">Criminal Registration No</label>
                        </div>
                      </div>
                    </div>

                    <div class="row mb-2">
                      <div class="col-md-12">
                        <div class="form-outline datepicker">
                          {{ profileForm.startDate }}
                          <label for="selectFormOutline" class="form-label">Date of Start</label>
                        </div>
                      </div>
                    </div>
                    
                    <div class="row mb-2">
                      <div class="col-md-12">
                        <div class="form-outline datepicker">
                          {{ profileForm.socialSecuirtyStartDate }}
                          <label for="selectFormOutline" class="form-label">Date of Social Security Start</label>
                        </div>
                      </div>
                    </div>

                    <div class="row mb-2">
                      <div class="col-md-12">
                        <div class="form-outline">
                          {{ profileForm.retirementStatus }}
                          <label for="selectFormOutline" class="form-label select-label">Retirement Status</label>
                        </div>
                      </div>
                    </div>

                    <div class="row mb-2">
                      <div class="col-md-12">
                        <div class="form-outline">
                          {{ profileForm.professionCode }}
                          <label for="selectFormOutline" class="form-label">Profession Code</label>
                        </div>
                      </div>
                    </div>

                    <div class="row mb-2">
                      <div class="col-md-12">
                        <div class="form-outline">
                          {{ profileForm.company }}
                          <label for="selectFormOutline" class="form-label select-label">Company</label>
                        </div>
                      </div>
                    </div>

                  </div>

                </div>

                <div class="row mb-3">

                  <div class="col-md-12">

                    <div class="row mb-2">
                      <div class="col-md-12">
                        <div class="form-outline">
                          {{ profileForm.note }}
                          <label for="selectFormOutline" class="form-label">Note</label>
                        </div>
                      </div>
                    </div>

                  </div>

                </div>

              </div>

            </div>

            <div class="row mb-3">

              <ul class="nav nav-pills mb-3 ms-3" id="nav-{{elementTag}}-{{elementTagId}}-add" role="tablist">
                <li class="nav-item" role="presentation" id="navTag-{{elementTag}}-{{elementTagId}}-add-1">
                  <a class="nav-link border border-1 rounded-0 border-secondary-subtle  mainNavLinkSubDetail-{{elementTag}} active m-0" data-mdb-pill-init id="navTagLink-{{elementTag}}-{{elementTagId}}-add-1" data-mdb-pill-init data-mdb-toggle="tab" href="#tabPane-{{elementTag}}-{{elementTagId}}-add-1" role="tab" aria-controls="tabPane-{{elementTag}}-{{elementTagId}}-add-1" aria-selected="true">
                    Education
                  </a>
                </li>
                <li class="nav-item" role="presentation" id="navTag-{{elementTag}}-{{elementTagId}}-add-2">
                  <a class="nav-link border border-1 rounded-0 border-secondary-subtle  mainNavLinkSubDetail-{{elementTag}} m-0" data-mdb-pill-init id="navTagLink-{{elementTag}}-{{elementTagId}}-add-2" data-mdb-pill-init data-mdb-toggle="tab" href="#tabPane-{{elementTag}}-{{elementTagId}}-add-1" role="tab" aria-controls="tabPane-{{elementTag}}-{{elementTagId}}-add-1" aria-selected="true">
                    Documents
                  </a>
                </li>
                <li class="nav-item" role="presentation" id="navTag-{{elementTag}}-{{elementTagId}}-add-3">
                  <a class="nav-link border border-1 rounded-0 border-secondary-subtle  mainNavLinkSubDetail-{{elementTag}} m-0" data-mdb-pill-init id="navTagLink-{{elementTag}}-{{elementTagId}}-add-3" data-mdb-pill-init data-mdb-toggle="tab" href="#tabPane-{{elementTag}}-{{elementTagId}}-add-1" role="tab" aria-controls="tabPane-{{elementTag}}-{{elementTagId}}-add-1" aria-selected="true">
                    Orientation
                  </a>
                </li>
                <li class="nav-item" role="presentation" id="navTag-{{elementTag}}-{{elementTagId}}-add-4">
                  <a class="nav-link border border-1 rounded-0 border-secondary-subtle  mainNavLinkSubDetail-{{elementTag}} m-0" data-mdb-pill-init id="navTagLink-{{elementTag}}-{{elementTagId}}-add-4" data-mdb-pill-init data-mdb-toggle="tab" href="#tabPane-{{elementTag}}-{{elementTagId}}-add-1" role="tab" aria-controls="tabPane-{{elementTag}}-{{elementTagId}}-add-1" aria-selected="true">
                    Request for Leave
                  </a>
                </li>
              </ul>

              <!-- Tabs Content -->
              <div class="tab-content" id="tab-{{elementTag}}-{{elementTagId}}-add">

                <div class="tab-pane mainTabPaneSubDetail-{{elementTag}} fade show active" id="tabPane-{{elementTag}}-{{elementTagId}}-add-1" role="tabpanel" aria-labelledby="navTagLink-{{elementTag}}-{{elementTagId}}-add-1">

                  <div class="col-md-12">
                    <div class="row mb-3">
                      <div class="col-md-3">
                        <div class="form-outline">
                          {{ profileForm.education_level }}
                          <label for="selectFormOutline" class="form-label select-label">Education Level</label>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div id="addFormBlock-inform-d-justDetail-{{elementTagSub}}-{{elementTagId}}-education" hx-target="this" class="row mb-1 addForm-inform-d-justDetail-{{elementTagSub}}-{{elementTagId}}-education">
                    
                  </div>
                  
                  <div class="col-md-12">
                    <div class="row mb-1 tableBox-inform-{{elementTagSub}}-{{elementTagId}}-education">
                      <table id="table-{{elementTagSub}}-{{elementTagId}}-education" class="table table-striped table-hover table-bordered dataTable no-footer" style="width:100%">
                        <thead>
                            <tr>
                              <th><input class="form-check-input" type="checkbox" value="" id="select-all-{{elementTagSub}}-{{elementTagId}}-education" name="educations" style="position:relative;margin-top:.19em;margin-left:0.4em;width:0.875rem;height:0.875rem;border-width:1px;"></th>
                              <th></th>
                              <th>ID</th>
                              <th>School</th>
                              <th>Department</th>
                              <th>Status</th>
                              <th>Start Date</th>
                              <th>Finish Date</th>
                            </tr>
                        </thead>
                        <tbody id="tbody">
                          
                        </tbody>
                        <tfoot>
                            <tr>
                              <th><input class="form-check-input" type="checkbox" value="" id="select-all-{{elementTagSub}}-{{elementTagId}}-education" name="educations" style="position:relative;margin-top:.19em;margin-left:0.4em;width:0.875rem;height:0.875rem;border-width:1px;"></th>
                              <th></th>
                              <th>ID</th>
                              <th>School</th>
                              <th>Department</th>
                              <th>Status</th>
                              <th>Start Date</th>
                              <th>Finish Date</th>
                            </tr>
                        </tfoot>
                      </table>
                    </div>
                  </div>

                </div>

              </div>

            </div>
          </div>

      </div>

      
  </form>
</div>

<script>
  var elementTag = "{{elementTag}}";
  var elementTagSub = "{{elementTagSub}}";
  var elementTagId = "new";
  var pageUrl = "/hr/user_add/";
  var sessionKey = "{{sessionKey}}";
  var user = "{{user.id}}";

  $("#navTagLink-{{elementTag}}-{{elementTagId}}-add-1").on("shown.bs.tab", function(e){
    $("#table-{{elementTagSub}}-{{elementTagId}}-education").DataTable().columns.adjust();
  });


  $(".addClose-{{elementTag}}").click(function() {
    document.getElementById("addFormBlock-{{elementTag}}").innerHTML = "";
    $("#table-{{elementTag}}").DataTable().ajax.reload(function(){
      htmx.process('#table-{{elementTag}}');
    },false);
  });
</script>

{% block javascript %}

<script src="{% static 'js/hr/user/add.js' %}"></script>

{% endblock javascript %}