{% load static %}

{% block buttonaddinfocancel %}

<div class="actionButtons">
    {% comment %} <div id="loadTable">
        <i class="icon-spinner2 spinner"></i>
    </div> {% endcomment %}
    <a href="{{add_url}}" class="button-add">
        <img src="{% static 'images/icons/add.svg' %}">
    </a>
    <a class="button-info">
        <img src="{% static 'images/icons/info.svg' %}">
    </a>
    <a class="button-remove">
        <img src="{% static 'images/icons/cancel.svg' %}">
    </a>
</div>

{% endblock %}
