{% load static %}
{% block header %}
{% load get_objects %}
<!-- StyleSheet-->
<link rel="stylesheet" href="{% static 'css/layout/components/header/header.css' %}">
<!-- /StyleSheet End-->

<!-- Main navbar -->
<div class="navbar navbar-expand-md navbar-light fixed-top">
    <ul class="navbar-nav mr-2">
        <li class="nav-item">
            <a href="#" class="navbar-nav-link sidebar-control sidebar-main-toggle d-none d-md-block">
                <i class="icon-paragraph-justify3"></i>
            </a>
        </li>
    </ul>
    <div class="navbar-brand text-lg-left p-0">
        <a href="{% url 'user:dashboard' %}">
            {% comment %} {% if request.user.profile.theme == 'light' %}
            <img id="logo-navbar" src="{% static 'images/icons/anchor.svg' %}">
            <h5 class="m-0 mt-1 ml-1" id="logo-text-navbar" style="color:#333">Global Atlantic</h5>
            {% else %}
            <img id="logo-navbar" src="{% static 'images/icons/anchor.svg' %}">
            <h5 class="m-0 mt-1 ml-1" id="logo-text-navbar" style="color:#fff">Global Atlantic</h5>
            {% endif %} {% endcomment %}
            {% if request.user.profile.theme == 'light' %}
            <img id="logo-navbar" src="{% static 'images/landing/logo-dark.png' %}">
            <h5 class="m-0 mt-1 ml-1" id="logo-text-navbar" style="color:#333">Global Atlantic</h5>
            {% else %}
            <img id="logo-navbar" src="{% static 'images/landing/logo-light.png' %}">
            <h5 class="m-0 mt-1 ml-1" id="logo-text-navbar" style="color:#fff">Global Atlantic</h5>
            {% endif %} 
        </a>
    </div>

    <div class="d-md-none">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mobile">
            <i class="icon-tree5"></i>
        </button>
        <button class="navbar-toggler sidebar-mobile-component-toggle" type="button">
            <i class="icon-unfold"></i>
        </button>
        <button class="navbar-toggler sidebar-mobile-main-toggle" type="button">
            <i class="icon-paragraph-justify3"></i>
        </button>
    </div>

    <div class="collapse navbar-collapse" id="navbar-mobile">
        <span class="my-3 my-md-0 ml-md-3 mr-md-auto">&nbsp;</span>
        <ul class="navbar-nav">
            <li class="nav-item dropdown language-switch">
                <a class="navbar-nav-link dropdown-toggle caret-0" data-toggle="dropdown">
                    <img src="{% static 'images/icons/languages.svg' %}" height="20px">
                    <span class="d-md-none ml-2">Language</span>
                </a>
                <div class="dropdown-menu drop_menu_animation_half_second">
                    <a href="?lng=en" class="dropdown-item english">
                        <img src="{% static 'lib/global_assets/images/lang/gb.png' %}" height="22" class="img-flag"
                            alt="">
                        English
                    </a>
                    <a href="?lng=es" class="dropdown-item turkish">
                        <img src="{% static 'lib/global_assets/images/lang/tr.png' %}" height="22" class="img-flag"
                            alt="">
                        Turkish
                    </a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="navbar-nav-link dropdown-toggle caret-0" data-toggle="dropdown">
                    <img height="20" src="{% static 'images/icons/user.svg' %}">
                    <span class="d-md-none ml-2">Users</span>
                </a>

                <div
                    class="dropdown-menu drop_menu_animation_half_second dropdown-menu-right dropdown-content wmin-md-300">
                    <div class="dropdown-content-header">
                        <span class="font-weight-semibold">Users online</span>
                        <a href="#" class="text-default"><i class="icon-search4 font-size-base"></i></a>
                    </div>

                    <div class="dropdown-content-body dropdown-scrollable">
                        <ul class="media-list">
                            <li class="media">
                                <div class="mr-3">
                                    <img src="{% static 'lib/global_assets/images/placeholders/placeholder.jpg' %}"
                                        width="36" height="36" class="rounded-circle" alt="">
                                </div>
                                <div class="media-body">
                                    <a href="#" class="media-title text-white font-weight-semibold">Jordana
                                        Ansley</a>
                                    <span class="d-block text-muted font-size-sm">Lead web developer</span>
                                </div>
                                <div class="ml-3 align-self-center"><span
                                        class="badge badge-mark border-success"></span></div>
                            </li>

                            <li class="media">
                                <div class="mr-3">
                                    <img src="{% static 'lib/global_assets/images/placeholders/placeholder.jpg' %}"
                                        width="36" height="36" class="rounded-circle" alt="">
                                </div>
                                <div class="media-body">
                                    <a href="#" class="media-title text-white font-weight-semibold">Will Brason</a>
                                    <span class="d-block text-muted font-size-sm">Marketing manager</span>
                                </div>
                                <div class="ml-3 align-self-center"><span class="badge badge-mark border-danger"></span>
                                </div>
                            </li>

                            <li class="media">
                                <div class="mr-3">
                                    <img src="{% static 'lib/global_assets/images/placeholders/placeholder.jpg' %}"
                                        width="36" height="36" class="rounded-circle" alt="">
                                </div>
                                <div class="media-body">
                                    <a href="#" class="media-title text-white font-weight-semibold">Hanna Walden</a>
                                    <span class="d-block text-muted font-size-sm">Project manager</span>
                                </div>
                                <div class="ml-3 align-self-center"><span
                                        class="badge badge-mark border-success"></span></div>
                            </li>

                            <li class="media">
                                <div class="mr-3">
                                    <img src="{% static 'lib/global_assets/images/placeholders/placeholder.jpg' %}"
                                        width="36" height="36" class="rounded-circle" alt="">
                                </div>
                                <div class="media-body">
                                    <a href="#" class="media-title text-white font-weight-semibold">Dori
                                        Laperriere</a>
                                    <span class="d-block text-muted font-size-sm">Business developer</span>
                                </div>
                                <div class="ml-3 align-self-center"><span
                                        class="badge badge-mark border-warning-300"></span></div>
                            </li>

                            <li class="media">
                                <div class="mr-3">
                                    <img src="{% static 'lib/global_assets/images/placeholders/placeholder.jpg' %}"
                                        width="36" height="36" class="rounded-circle" alt="">
                                </div>
                                <div class="media-body">
                                    <a href="#" class="media-title text-white font-weight-semibold">Vanessa
                                        Aurelius</a>
                                    <span class="d-block text-muted font-size-sm">UX expert</span>
                                </div>
                                <div class="ml-3 align-self-center"><span
                                        class="badge badge-mark border-grey-400"></span></div>
                            </li>
                        </ul>
                    </div>

                    <div class="dropdown-content-footer">
                        <a href="#" class="text-white mr-auto">All users</a>
                        <a href="#" class="text-white"><i class="icon-gear"></i></a>
                    </div>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a href="#" class="navbar-nav-link dropdown-toggle caret-0" data-toggle="dropdown">
                   
                   {% if is_notified %}
                   <img height="20" src="{% static 'images/icons/notification.svg' %}">
                   {% else %}
                   <img height="20" src="{% static 'images/icons/no_notification.svg' %}">
                   {% endif %}
                        
                    <span class="d-md-none ml-2">Notifications</span>
                </a>

                <div
                    class="dropdown-menu drop_menu_animation_half_second dropdown-menu-right dropdown-content wmin-md-350">
                    <div class="dropdown-content-header">
                        <h6 class="card-title">Notifications</h6>
                    </div>

                    <div class="dropdown-content-body dropdown-scrollable">
                        <ul class="media-list">
                            
                            {% if not notifications %}
                            <li class="media">                                                                                          
								<div class="mr-3">
									<a href="#" class="btn btn-outline-primary rounded-pill border-2 btn-icon m-1">
										<i class="icon-warning"></i>
									</a>
								</div>

                                <div class="media-body {% if  notification.is_read %} text-muted {% endif %}">
									There is no notification. A sales projects' quotation must has been created two weeks ago.
								</div>
                            </li>
                            
                            {% endif %}
                                
                            {% for notification in notifications %} 
                            {% if forloop.counter0 != 0 %} <hr> {% endif %}          
							<li class="media">                                                                                          
								<div class="mr-3">
									<a href="#" class="btn btn-outline-primary rounded-pill border-2 btn-icon m-1">
										<i class="icon-envelop5"></i>
									</a>
								</div>

								<div class="media-body {% if  notification.is_read %} text-muted {% endif %}">
									<a href="{% url 'notifications:notification_project' notification.id %}">{{notification|get_optional_object_no}}</a> created but it didn't confirm for last two weeks
									<div class="text-muted font-size-sm">{{notification.created_at|timesince}} ago</div>
								</div>
							</li>
                            {% endfor %} 
                                                         
						</ul>
                    </div>

                    <!-- <div class="dropdown-content-footer justify-content-center p-0">
                        <a href="#" class="text-muted w-100 py-2" data-popup="tooltip" title="Load more"><i
                                class="icon-menu7 d-block top-0"></i></a>
                    </div> -->
                </div>
            </li>

            <li class="nav-item dropdown dropdown-user">
                <a href="#" class="navbar-nav-link d-flex align-items-center dropdown-toggle" data-toggle="dropdown">
                    {% if request.user.profile.image %}
                    <img src="{{ request.user.profile.image.url }}" alt="avatar"
                        class="rounded-circle mr-2 profile-image" height="34">
                    {% else %}
                    <img src="{% static 'images/icons/enchanted.svg' %}" alt="avatar"
                        class="rounded-circle mr-2 profile-image" height="34">
                    {% endif %}
                    <span>{{ request.user.username }}</span>
                </a>

                <div class="dropdown-menu drop_menu_animation_half_second dropdown-menu-right">
                    <a href="{% url 'user:profile_page' %}" class="dropdown-item"><i class="icon-user-plus"></i> My
                        profile</a>
                    <a href="#" class="dropdown-item"><i class="icon-coins"></i> My balance</a>
                    <a href="#" class="dropdown-item"><i class="icon-comment-discussion"></i> Messages <span
                            class="badge badge-pill bg-blue ml-auto">58</span></a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item"><i class="icon-cog5"></i> Account settings</a>
                    <a href="{% url 'user:logout' %}" class="dropdown-item"><i class="icon-switch2"></i> Logout</a>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-- /main navbar -->
{% endblock %}

{% block javascript %}
<script>
    let moon = "{% static 'images/icons/moon.svg' %}";
    let sun = "{% static 'images/icons/sun.svg' %}";
</script>
<script src="{% static 'js/components/aside.js' %}"></script>
{% endblock javascript %}