{% load static i18n %}
{% block modals %}
<!-- Modal add inquiry -->
<div id="modal_purchase_order_add" class="modal fade" aria-modal="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="border-radius: 25px;">
            <div class="modal-header">
                <h1 class="text-center">Add Purchase Order</h1>
            </div>
            <div class="modal-body">
                <form id="create_purchase_order_form">
                    <div class="col-lg">
                        <div class=" card card-body">
                            <div class=" rounded p-3">
                                <h4>Select Quotation Part</h4>
                                <select id="selectQuotationWithSelect" class="form-control select" required>
                                    <option value="">-</option>
                                    {% for quotation in project.quotation.all %}
                                    <option value="{{ quotation.id }}">{{ quotation.no }}</option>
                                    {% endfor %}
                                </select>

                                <ul class="list-group list-group-horizontal">
                                    <li class="list-group-item w-100 border-0">Supplier Name</li>
                                    <li class="list-group-item w-100 border-0">Part no</li>
                                    <li class="list-group-item w-100 border-0">Part Name</li>
                                </ul>
                                <select id="quotation_parts_select" class="form-control" style="height: 300px;"
                                        multiple="" required>
                                </select>

                            </div>
                        </div>
                    </div>

                    <fieldset class="card-footer border-top w-30% text-right">
                        <button id="add_purchase_order" type="submit" class="btn btn-primary btn-block ">
                            {% trans 'Create Purchase Order' %}
                        </button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /modal -->
{% endblock %}



