{% load static %}

<li class="nav-item" role="presentation" id="navTag-{{elementTag}}-new" style="display:none;">
  <a class="nav-link mainNavLinkSub-{{elementTag}} position-relative border border-1 rounded-0 border-secondary-subtle" id="navTagLink-{{elementTag}}-new" data-mdb-pill-init data-mdb-toggle="tab" href="#tabPane-{{elementTag}}-new" role="tab" aria-controls="tabPane-{{elementTag}}-new" aria-selected="true" style="font-size:9px;padding:10px 25px 10px 25px;margin: 0px!important;">
      New Access Authorization
      <button class="btn btn-tertiary position-absolute top-20 translate-middle badge p-1" href="#" id="removeNav-{{elementTag}}-new" style="margin-left: 15%;">
          <i class="fa-solid fa-xmark" style="font-size:0.75rem;"></i>
      </button>
  </a>
</li>

<div class="tab-pane mainTabPaneSub-{{elementTag}} fade" id="tabPane-{{elementTag}}-new" role="tabpanel" aria-labelledby="navTagLink-{{elementTag}}-new">
  <form action="/sale/request_add/" method="post" class="modal-content form-container border mainAddForm" id="form-{{elementTag}}-new" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.media }}
      <div class="modal-header border-2 border-bottom" style="box-shadow:none!important;background-color: #c9c9c9;">
        <button class="tableTopButtons inTableButtons" type="submit" name="saveButton">
          <img src="/static/images/icons/flaticon/{{user.profile.theme}}/diskette.svg" alt="" style="height: 18px;">
        </button>
        <div class="me-auto" id="message-container-{{elementTag}}-new"></div>
        <div id="test-full"></div>
      </div>

      <div class="modal-body" style="box-shadow:none; padding:0;">


        <div class="tab-content" id="tab-{{elementTag}}-{{elementTagId}}-add" style="border-radius:0;padding-top:15px;padding-bottom: 5px;">

            <div class="row mb-4 me-2">
                <div class="col-md-12 ms-2">

                    <div class="row mb-4 me-2">
                        <div class="col-md-6 mb-2">
                            <div class="form-outline">
                                {{form.name}}
                                <label for="formOutline-{{elementTag}}-name" class="form-label select-label">Name</label>
                            </div>
                        </div>
                        <div class="col-md-6 mb-2">
                            <div class="form-outline">
                                {{form.code}}
                                <label for="formOutline-{{elementTag}}-code" class="form-label select-label">Code</label>
                            </div>
                        </div>
                    </div>
                    
                </div>

            </div>


        </div>

      </div>
      
  </form>
</div>



<script>

  var elementTag = "{{elementTag}}";
  var elementTagSub = "{{elementTagSub}}";
  var elementTagId = "new";
  var pageUrl = "/user/access_authorization_add/";
  var sessionKey = "{{sessionKey}}";
  var user = "{{user.id}}";

  $("#form-{{elementTag}}-new").submit(function (event) {
    //spinner başlatır
    $("body").busyLoad("show", {
        animation: false,
        spinner: "pulsar",
        maxSize: "150px",
        minSize: "150px",
        text: "Loading ...",
        background: "rgba(69, 83, 89, 0.6)",
        color: "#455359",
        textColor: "#fff"
    });
    event.preventDefault();

    var formData = $(this).serializeArray();

    $.ajax({
      type: "POST",
      url: "/user/access_authorization_add/",  // Formunuzun işleneceği view'ın URL'si
      data: formData,
      success: function (response, status, xhr) {
          // Başarılı yanıt geldiğinde mesajı görüntüleyin
          if (xhr.status === 204) {
              setTimeout(function() {
          
                let navTagSub = $("#navTag-{{elementTag}}-new");
                let tabPaneSub = $("#tabPane-{{elementTag}}-new");
            
                navTagSub.prev().children("a").addClass("active");
                
                navTagSub.prev().children("a").children("button").show();
                
                $("#table-{{elementTag}}").DataTable().columns.adjust();

                navTagSub.remove();
                tabPaneSub.remove();

                $("#table-accessAuthorization").DataTable().ajax.reload(function() {
                  htmx.process("#table-accessAuthorization");
                }, false);


                fetch('/user/api/access_authorizations?ordering=-id&sessionKey={{sessionKey}}&user={{user.id}}&format=datatables', {method : "GET"})
                .then((response) => {
                  return response.json();
                })
                .then((data) => {
                  console.log(data["data"]);
                  htmx.ajax("GET", "/user/access_authorization_update/" + data["data"][0]["id"] + "/", {target:"#tabContSub-{{elementTag}}", swap:"afterbegin"});
                  window.history.pushState({}, '', "/user/access_authorization_update/" + data["data"][0]["id"] + "/");
                });
          
                setTimeout(function() {
                  $("body").busyLoad("hide", {
                    animation: "fade"
                  });
                }, 500);
          
              }, 500);
          }
      },
      error: function (xhr, status, error) {
          //spinner durdurur
          $("body").busyLoad("hide", {
              animation: "fade"
            });
          // Hata durumunda mesajı görüntüleyin
          $("#message-container-{{elementTag}}-new").html('<div id="message-container-inside-{{elementTag}}-new"><i class="fas fa-xmark-circle me-1"></i>Error!</div>');
      }
    });
    

    

  });


</script>

{% block javascript %}

<script src="{% static 'js/user/access_authorization/add.js' %}"></script>

{% endblock javascript %}

